### –û–±–Ω–æ–≤–ª–µ–Ω–∏–µ –≤—á–µ—Ä–∞

In [7]:
# =========================
# –Ø–ß–ï–ô–ö–ê 1 ‚Äî –ú–û–î–£–õ–¨ B: –ø–æ–¥–∫–ª—é—á–µ–Ω–∏–µ + —Å–æ–∑–¥–∞–Ω–∏–µ —Ç–∞–±–ª–∏—Ü—ã —Ä–∞–∑–º–µ—Ç–∫–∏ —É—á–∞—Å—Ç–∫–æ–≤
# =========================
# –¶–µ–ª—å:
# 1) –ü–æ–¥–∫–ª—é—á–∏—Ç—å—Å—è –∫ PostgreSQL —á–µ—Ä–µ–∑ .env (–∫–∞–∫ –Ω–∞ —Å–æ—Ä–µ–≤–Ω–æ–≤–∞–Ω–∏—è—Ö).
# 2) –ü—Ä–æ–≤–µ—Ä–∏—Ç—å, —á—Ç–æ –±–∞–∑–æ–≤—ã–µ —Ç–∞–±–ª–∏—Ü—ã –µ—Å—Ç—å.
# 3) –°–æ–∑–¥–∞—Ç—å —Ç–∞–±–ª–∏—Ü—É segment_labels ‚Äî —Å—é–¥–∞ –±—É–¥–µ–º —Å–æ—Ö—Ä–∞–Ω—è—Ç—å —Ä–∞–∑–º–µ—Ç–∫—É —É—á–∞—Å—Ç–∫–æ–≤:
#    - segment_index (—É—á–∞—Å—Ç–æ–∫ –≤–Ω—É—Ç—Ä–∏ —Ç—Ä–µ–∫–∞)
#    - cluster_id (–∫–ª–∞—Å—Ç–µ—Ä —É—á–∞—Å—Ç–∫–∞)
#    - risk_label (flood/fire/none)
#    - evac_label (easy/medium/hard)
#
# –í–∞–∂–Ω–æ:
# - –ù–∞ —Å–æ—Ä–µ–≤–Ω–æ–≤–∞–Ω–∏—è—Ö –º–µ–Ω—è–µ—à—å –¢–û–õ–¨–ö–û .env
# - –ö–æ–¥ —Ç—Ä–æ–≥–∞—Ç—å –Ω–µ –Ω–∞–¥–æ

import sys
from pathlib import Path

import pandas as pd
from sqlalchemy import text

# ---------------------------------------------------------
# 0) –ì–ê–†–ê–ù–¢–ò–†–£–ï–ú, —á—Ç–æ Python –≤–∏–¥–∏—Ç –ø–∞–∫–µ—Ç src/
#    (–∏—â–µ–º –∫–æ—Ä–µ–Ω—å –ø—Ä–æ–µ–∫—Ç–∞ ‚Äî –≥–¥–µ –µ—Å—Ç—å –ø–∞–ø–∫–∞ src)
# ---------------------------------------------------------
def find_project_root(start: Path) -> Path:
    cur = start.resolve()
    for _ in range(6):  # –æ–±—ã—á–Ω–æ –¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ 2-3 —É—Ä–æ–≤–Ω–µ–π –≤–≤–µ—Ä—Ö, –Ω–æ –≤–æ–∑—å–º–µ–º –∑–∞–ø–∞—Å
        if (cur / "src").exists() and (cur / "src" / "common" / "db.py").exists():
            return cur
        cur = cur.parent
    # –µ—Å–ª–∏ –Ω–µ –Ω–∞—à–ª–∏ ‚Äî –≤–µ—Ä–Ω–µ–º —Å—Ç–∞—Ä—Ç–æ–≤—É—é –ø–∞–ø–∫—É (–∏ —Ç–æ–≥–¥–∞ –∏–º–ø–æ—Ä—Ç –º–æ–∂–µ—Ç —É–ø–∞—Å—Ç—å)
    return start.resolve()

PROJECT_ROOT = find_project_root(Path.cwd())
if str(PROJECT_ROOT) not in sys.path:
    sys.path.insert(0, str(PROJECT_ROOT))

print(" PROJECT_ROOT =", PROJECT_ROOT)

# ---------------------------------------------------------
# 1) –ò–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –Ω–∞—à –º–æ–¥—É–ª—å –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è –∫ –ë–î
# ---------------------------------------------------------
from src.common.db import DBConfig, get_connection, set_search_path, test_connection

# ---------------------------------------------------------
# 2) –ü—Ä–æ–≤–µ—Ä—è–µ–º –ø–æ–¥–∫–ª—é—á–µ–Ω–∏–µ
# ---------------------------------------------------------
test_connection(verbose=True)
cfg = DBConfig.from_env()
print(f"‚úÖ –ò—Å–ø–æ–ª—å–∑—É–µ–º —Å—Ö–µ–º—É: {cfg.schema}")

# ---------------------------------------------------------
# 3) –£—Ç–∏–ª–∏—Ç–∞ —á—Ç–µ–Ω–∏—è DataFrame –∏–∑ –ë–î
# ---------------------------------------------------------
def read_df(sql: str, params: dict | None = None) -> pd.DataFrame:
    with get_connection() as conn:
        set_search_path(conn)
        return pd.read_sql(text(sql), conn, params=params)

# ---------------------------------------------------------
# 4) –ü—Ä–æ–≤–µ—Ä—è–µ–º –Ω–∞–ª–∏—á–∏–µ —Ç–∞–±–ª–∏—Ü (–±—ã—Å—Ç—Ä–æ —É–±–µ–∂–¥–∞–µ–º—Å—è, —á—Ç–æ –±–∞–∑–∞ –≥–æ—Ç–æ–≤–∞)
# ---------------------------------------------------------
tables = read_df("""
SELECT table_name
FROM information_schema.tables
WHERE table_schema = :schema
ORDER BY table_name;
""", {"schema": cfg.schema})

print(" –¢–∞–±–ª–∏—Ü—ã –≤ —Å—Ö–µ–º–µ:")
display(tables)

# ---------------------------------------------------------
# 5) –°–æ–∑–¥–∞—ë–º —Ç–∞–±–ª–∏—Ü—É —Ä–∞–∑–º–µ—Ç–∫–∏ —É—á–∞—Å—Ç–∫–æ–≤ (segment_labels)
# ---------------------------------------------------------
create_sql = f"""
CREATE TABLE IF NOT EXISTS "{cfg.schema}"."segment_labels" (
    segment_id      BIGSERIAL PRIMARY KEY,

    track_id        BIGINT NOT NULL,
    segment_index   INT NOT NULL,               -- –Ω–æ–º–µ—Ä —É—á–∞—Å—Ç–∫–∞ –≤–Ω—É—Ç—Ä–∏ —Ç—Ä–µ–∫–∞ (0,1,2,...)

    start_seq       INT NULL,                   -- —Å—Ç–∞—Ä—Ç–æ–≤–∞—è —Ç–æ—á–∫–∞ (seq) –≤–Ω—É—Ç—Ä–∏ —Ç—Ä–µ–∫–∞
    end_seq         INT NULL,                   -- –∫–æ–Ω–µ—á–Ω–∞—è —Ç–æ—á–∫–∞ (seq) –≤–Ω—É—Ç—Ä–∏ —Ç—Ä–µ–∫–∞

    lat_center      DOUBLE PRECISION NULL,
    lon_center      DOUBLE PRECISION NULL,

    features        JSONB NOT NULL DEFAULT '{{}}'::jsonb,  -- —Ñ–∏—á–∏ —É—á–∞—Å—Ç–∫–∞ (—á—Ç–æ –ø–æ—Å—á–∏—Ç–∞–ª–∏)
    cluster_id      INT NULL,                                -- –∫–ª–∞—Å—Ç–µ—Ä —É—á–∞—Å—Ç–∫–∞

    risk_label      TEXT NULL,                 -- flood / fire / none
    evac_label      TEXT NULL,                 -- easy / medium / hard

    created_at      TIMESTAMPTZ NOT NULL DEFAULT NOW(),

    UNIQUE(track_id, segment_index)
);
"""

with get_connection() as conn:
    set_search_path(conn)
    conn.execute(text(create_sql))
    conn.commit()

print(" –¢–∞–±–ª–∏—Ü–∞ segment_labels –≥–æ—Ç–æ–≤–∞ (–∏–ª–∏ —É–∂–µ —Å—É—â–µ—Å—Ç–≤–æ–≤–∞–ª–∞).")

# ---------------------------------------------------------
# 6) –ú–∏–Ω–∏-–ø—Ä–æ–≤–µ—Ä–∫–∞: —Ç–∞–±–ª–∏—Ü–∞ —Ä–µ–∞–ª—å–Ω–æ –¥–æ—Å—Ç—É–ø–Ω–∞
# ---------------------------------------------------------
check = read_df("""SELECT COUNT(*) AS rows_cnt FROM segment_labels;""")
print(" segment_labels —Å–µ–π—á–∞—Å —Å—Ç—Ä–æ–∫:", int(check.loc[0, "rows_cnt"]))
display(check)

 PROJECT_ROOT = /Users/iriska/Downloads/mlbox_2
OK: connected to PostgreSQL | host=localhost port=55432 db=gpx_db schema=public
‚úÖ –ò—Å–ø–æ–ª—å–∑—É–µ–º —Å—Ö–µ–º—É: public
 –¢–∞–±–ª–∏—Ü—ã –≤ —Å—Ö–µ–º–µ:

                       table_name
0                    cluster_runs
1             context_time_series
2                    data_sources
3                      model_runs
4                  segment_labels
5            track_cluster_labels
6                  track_features
7                    track_points
8               track_predictions
9                          tracks
10  v_cluster_distribution_latest
11          v_cluster_run_quality
12          v_context_time_series
13                v_speed_by_hour
14              v_track_distances
15             v_track_points_map
16              v_tracks_overview

 –¢–∞–±–ª–∏—Ü–∞ segment_labels –≥–æ—Ç–æ–≤–∞ (–∏–ª–∏ —É–∂–µ —Å—É—â–µ—Å—Ç–≤–æ–≤–∞–ª–∞).
 segment_labels —Å–µ–π—á–∞—Å —Å—Ç—Ä–æ–∫: 0

   rows_cnt
0         0

In [8]:
# =========================
# –Ø–ß–ï–ô–ö–ê 2 ‚Äî –ú–û–î–£–õ–¨ B: –Ω–∞—Ä–µ–∑–∫–∞ —Ç—Ä–µ–∫–æ–≤ –Ω–∞ —É—á–∞—Å—Ç–∫–∏ + –∑–∞–ø–∏—Å—å –≤ segment_labels
# =========================
# –ò–¥–µ—è –ø—Ä–æ—Å—Ç–∞—è:
# 1) –ë–µ—Ä—ë–º —Ç–æ—á–∫–∏ track_points –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —Ç—Ä–µ–∫–∞
# 2) –†–µ–∂–µ–º –Ω–∞ —Å–µ–≥–º–µ–Ω—Ç—ã –ø–æ SEGMENT_SIZE —Ç–æ—á–µ–∫ (–Ω–∞–ø—Ä–∏–º–µ—Ä, –ø–æ 300)
# 3) –°—á–∏—Ç–∞–µ–º –ø—Ä–æ—Å—Ç—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ —Å–µ–≥–º–µ–Ω—Ç–∞ (–¥–ª–∏–Ω–∞, –Ω–∞–±–æ—Ä –≤—ã—Å–æ—Ç, —Å–∫–æ—Ä–æ—Å—Ç—å, —É–∫–ª–æ–Ω –∏ —Ç.–¥.)
# 4) –°–æ—Ö—Ä–∞–Ω—è–µ–º —Å–µ–≥–º–µ–Ω—Ç—ã –≤ segment_labels (UPSERT: –µ—Å–ª–∏ —Å–µ–≥–º–µ–Ω—Ç —É–∂–µ –µ—Å—Ç—å ‚Äî –æ–±–Ω–æ–≤–∏–º)

import json
import numpy as np
import pandas as pd
from sqlalchemy import text

# üîß –ù–∞—Å—Ç—Ä–æ–π–∫–∏ (–Ω–∞ —Å–æ—Ä–µ–≤–Ω–æ–≤–∞–Ω–∏—è—Ö –º–æ–∂–Ω–æ –±—ã—Å—Ç—Ä–æ –º–µ–Ω—è—Ç—å)
SEGMENT_SIZE = 10    # 100/200/300/500 ‚Äî —Ä–µ–≥—É–ª–∏—Ä—É–µ—Ç "–¥–µ—Ç–∞–ª—å–Ω–æ—Å—Ç—å" —Å–µ–≥–º–µ–Ω—Ç–æ–≤
LIMIT_TRACKS = None   # None = –≤—Å–µ —Ç—Ä–µ–∫–∏, –∏–ª–∏ 5 –¥–ª—è –±—ã—Å—Ç—Ä–æ–π –ø—Ä–æ–≤–µ—Ä–∫–∏

# -------------------------
# 1) –î–æ—Å—Ç–∞—ë–º —Ç–æ—á–∫–∏ —Ç—Ä–µ–∫–∞
# -------------------------
def fetch_track_points(track_id: int) -> pd.DataFrame:
    """
    –í–ê–ñ–ù–û:
    - –í –ë–î –∫–æ–ª–æ–Ω–∫–∞ –≤—ã—Å–æ—Ç—ã –Ω–∞–∑—ã–≤–∞–µ—Ç—Å—è ele (–∞ –Ω–µ ele_m)
    - –ú—ã –¥–µ–ª–∞–µ–º alias: ele AS ele_m, —á—Ç–æ–±—ã –¥–∞–ª—å—à–µ –≤ –∫–æ–¥–µ –≤–µ–∑–¥–µ –±—ã–ª–æ –µ–¥–∏–Ω–æ–æ–±—Ä–∞–∑–Ω–æ 'ele_m'
    """
    sql = """
    SELECT
        track_id,
        seq,
        lat,
        lon,
        ele AS ele_m,
        time
    FROM track_points
    WHERE track_id = :track_id
    ORDER BY seq;
    """
    return read_df(sql, {"track_id": track_id})

# -------------------------
# 2) –ì–µ–æ-—Ä–∞—Å—Å—Ç–æ—è–Ω–∏–µ (haversine)
# -------------------------
def haversine_m(lat1, lon1, lat2, lon2) -> float:
    """–†–∞—Å—Å—Ç–æ—è–Ω–∏–µ –º–µ–∂–¥—É –¥–≤—É–º—è –∫–æ–æ—Ä–¥–∏–Ω–∞—Ç–∞–º–∏ –≤ –º–µ—Ç—Ä–∞—Ö."""
    R = 6371000.0
    phi1, phi2 = np.radians(lat1), np.radians(lat2)
    dphi = np.radians(lat2 - lat1)
    dl = np.radians(lon2 - lon1)
    a = np.sin(dphi/2)**2 + np.cos(phi1)*np.cos(phi2)*np.sin(dl/2)**2
    return float(2 * R * np.arctan2(np.sqrt(a), np.sqrt(1 - a)))

# -------------------------
# 3) –ü—Ä–∏–∑–Ω–∞–∫–∏ —Å–µ–≥–º–µ–Ω—Ç–∞
# -------------------------
def calc_segment_features(df_seg: pd.DataFrame) -> dict:
    """
    –ü—Ä–∏–∑–Ω–∞–∫–∏ —Å–µ–≥–º–µ–Ω—Ç–∞ (—É–Ω–∏–≤–µ—Ä—Å–∞–ª—å–Ω–æ):
    - distance_m: –¥–ª–∏–Ω–∞ —Å–µ–≥–º–µ–Ω—Ç–∞ –ø–æ –ø—Ä—è–º–æ–π (–º–µ–∂–¥—É –ø–µ—Ä–≤–æ–π –∏ –ø–æ—Å–ª–µ–¥–Ω–µ–π —Ç–æ—á–∫–æ–π)
    - elev_*: –º–∏–Ω–∏–º—É–º/–º–∞–∫—Å–∏–º—É–º/–Ω–∞–±–æ—Ä/—Å–±—Ä–æ—Å –≤—ã—Å–æ—Ç—ã (–µ—Å–ª–∏ –µ—Å—Ç—å)
    - duration_s –∏ avg_speed_mps (–µ—Å–ª–∏ –µ—Å—Ç—å time)
    - slope: –≥—Ä—É–±—ã–π —É–∫–ª–æ–Ω (–ø–µ—Ä–µ–ø–∞–¥/–¥–∏—Å—Ç–∞–Ω—Ü–∏—è)
    - points: –∫–æ–ª-–≤–æ —Ç–æ—á–µ–∫ –≤ —Å–µ–≥–º–µ–Ω—Ç–µ
    """

    lat0, lon0 = df_seg.iloc[0][["lat", "lon"]]
    lat1, lon1 = df_seg.iloc[-1][["lat", "lon"]]
    dist_m = haversine_m(lat0, lon0, lat1, lon1)

    # –≤—ã—Å–æ—Ç—ã (–º–æ–≥—É—Ç –æ—Ç—Å—É—Ç—Å—Ç–≤–æ–≤–∞—Ç—å)
    ele = df_seg["ele_m"].dropna()
    if len(ele) > 1:
        d = ele.diff()
        elev_gain = float(d.clip(lower=0).sum())
        elev_loss = float((-d.clip(upper=0)).sum())
    else:
        elev_gain, elev_loss = None, None

    elev_min = float(ele.min()) if len(ele) else None
    elev_max = float(ele.max()) if len(ele) else None

    # –≤—Ä–µ–º—è/—Å–∫–æ—Ä–æ—Å—Ç—å (–≤ –Ω–µ–∫–æ—Ç–æ—Ä—ã—Ö —Ç—Ä–µ–∫–∞—Ö time –º–æ–∂–µ—Ç –±—ã—Ç—å NaT)
    if df_seg["time"].notna().any():
        t0 = df_seg["time"].dropna().iloc[0]
        t1 = df_seg["time"].dropna().iloc[-1]
        duration_s = float((t1 - t0).total_seconds()) if (t0 is not None and t1 is not None) else None
    else:
        duration_s = None

    avg_speed_mps = (dist_m / duration_s) if (duration_s and duration_s > 0) else None

    slope = None
    if elev_min is not None and elev_max is not None and dist_m > 0:
        slope = float((elev_max - elev_min) / dist_m)

    return {
        "distance_m": dist_m,
        "duration_s": duration_s,
        "avg_speed_mps": avg_speed_mps,
        "elev_gain_m": elev_gain,
        "elev_loss_m": elev_loss,
        "elev_min_m": elev_min,
        "elev_max_m": elev_max,
        "slope": slope,
        "points": int(len(df_seg)),
    }

# -------------------------
# 4) UPSERT —Å–µ–≥–º–µ–Ω—Ç–∞ –≤ segment_labels
# -------------------------
def upsert_segment_row(track_id: int, segment_index: int, start_seq: int, end_seq: int,
                       lat_center: float, lon_center: float, features: dict) -> None:
    """
    UPSERT:
    - –µ—Å–ª–∏ —Å–µ–≥–º–µ–Ω—Ç (track_id, segment_index) —É–∂–µ –µ—Å—Ç—å ‚Äî –æ–±–Ω–æ–≤–ª—è–µ–º
    - –µ—Å–ª–∏ –Ω–µ—Ç ‚Äî –≤—Å—Ç–∞–≤–ª—è–µ–º
    """
    sql = f"""
    INSERT INTO "{cfg.schema}"."segment_labels"
        (track_id, segment_index, start_seq, end_seq, lat_center, lon_center, features)
    VALUES
        (:track_id, :segment_index, :start_seq, :end_seq, :lat_center, :lon_center, CAST(:features AS jsonb))
    ON CONFLICT (track_id, segment_index)
    DO UPDATE SET
        start_seq = EXCLUDED.start_seq,
        end_seq = EXCLUDED.end_seq,
        lat_center = EXCLUDED.lat_center,
        lon_center = EXCLUDED.lon_center,
        features = EXCLUDED.features;
    """

    features_json = json.dumps(features, ensure_ascii=False)

    with get_connection() as conn:
        set_search_path(conn)
        conn.execute(text(sql), {
            "track_id": track_id,
            "segment_index": segment_index,
            "start_seq": start_seq,
            "end_seq": end_seq,
            "lat_center": lat_center,
            "lon_center": lon_center,
            "features": features_json,
        })
        conn.commit()

# -------------------------
# 5) –ó–∞–ø—É—Å–∫ –Ω–∞—Ä–µ–∑–∫–∏ –ø–æ –≤—Å–µ–º/—á–∞—Å—Ç–∏ —Ç—Ä–µ–∫–æ–≤
# -------------------------
tracks_df = read_df("SELECT track_id, point_count FROM tracks ORDER BY track_id;")
if LIMIT_TRACKS is not None:
    tracks_df = tracks_df.head(LIMIT_TRACKS)

print("–¢—Ä–µ–∫–æ–≤ –¥–ª—è –æ–±—Ä–∞–±–æ—Ç–∫–∏:", len(tracks_df))
print("SEGMENT_SIZE:", SEGMENT_SIZE)

inserted = 0
skipped_empty = 0

for _, row in tracks_df.iterrows():
    track_id = int(row["track_id"])
    pts = fetch_track_points(track_id)

    if pts.empty:
        skipped_empty += 1
        continue

    n_segments = int(np.ceil(len(pts) / SEGMENT_SIZE))

    for seg_idx in range(n_segments):
        start = seg_idx * SEGMENT_SIZE
        end = min((seg_idx + 1) * SEGMENT_SIZE, len(pts))
        df_seg = pts.iloc[start:end].copy()
        if df_seg.empty:
            continue

        start_seq = int(df_seg["seq"].iloc[0])
        end_seq = int(df_seg["seq"].iloc[-1])

        lat_center = float(df_seg["lat"].mean())
        lon_center = float(df_seg["lon"].mean())

        feats = calc_segment_features(df_seg)

        upsert_segment_row(
            track_id=track_id,
            segment_index=seg_idx,
            start_seq=start_seq,
            end_seq=end_seq,
            lat_center=lat_center,
            lon_center=lon_center,
            features=feats
        )
        inserted += 1

print("‚úÖ –ì–æ—Ç–æ–≤–æ.")
print("–°–µ–≥–º–µ–Ω—Ç–æ–≤ –∑–∞–ø–∏—Å–∞–Ω–æ/–æ–±–Ω–æ–≤–ª–µ–Ω–æ:", inserted)
print("–¢—Ä–µ–∫–æ–≤ –±–µ–∑ —Ç–æ—á–µ–∫ –ø—Ä–æ–ø—É—â–µ–Ω–æ:", skipped_empty)

# -------------------------
# 6) –ö–æ–Ω—Ç—Ä–æ–ª—å: —Å–∫–æ–ª—å–∫–æ —Å—Ç—Ä–æ–∫ –≤ segment_labels + –ø—Ä–∏–º–µ—Ä—ã
# -------------------------
check2 = read_df("SELECT COUNT(*) AS rows_cnt FROM segment_labels;")
print("üìä segment_labels —Ç–µ–ø–µ—Ä—å —Å—Ç—Ä–æ–∫:", int(check2.loc[0, "rows_cnt"]))
display(check2)

sample = read_df("""
SELECT segment_id, track_id, segment_index, start_seq, end_seq, lat_center, lon_center, features
FROM segment_labels
ORDER BY segment_id
LIMIT 10;
""")
display(sample)

–¢—Ä–µ–∫–æ–≤ –¥–ª—è –æ–±—Ä–∞–±–æ—Ç–∫–∏: 42
SEGMENT_SIZE: 10
‚úÖ –ì–æ—Ç–æ–≤–æ.
–°–µ–≥–º–µ–Ω—Ç–æ–≤ –∑–∞–ø–∏—Å–∞–Ω–æ/–æ–±–Ω–æ–≤–ª–µ–Ω–æ: 8663
–¢—Ä–µ–∫–æ–≤ –±–µ–∑ —Ç–æ—á–µ–∫ –ø—Ä–æ–ø—É—â–µ–Ω–æ: 0
üìä segment_labels —Ç–µ–ø–µ—Ä—å —Å—Ç—Ä–æ–∫: 8663

   rows_cnt
0      8663

,segment_id,track_id,segment_index,start_seq,end_seq,lat_center,lon_center,features
0,1,2,0,1,10,53.567823,9.896177,"{'slope': 5.646957576726941, 'points': 10, 'di..."
1,2,2,1,11,20,53.569020,9.892310,"{'slope': 0.037576334892397326, 'points': 10, ..."
2,3,2,2,21,30,53.568016,9.901295,"{'slope': 0.07439179690716077, 'points': 10, '..."
3,4,2,3,31,40,53.567848,9.896189,"{'slope': 4.3854984776862445, 'points': 10, 'd..."
4,5,2,4,41,45,53.567841,9.896223,"{'slope': 4.532289263840481, 'points': 5, 'dis..."
5,6,3,0,1,10,46.188408,-119.217538,"{'slope': 0.05858891254906029, 'points': 10, '..."
6,7,3,1,11,20,46.188490,-119.217676,"{'slope': 0.09943825607635966, 'points': 10, '..."
7,8,3,2,21,30,46.188502,-119.217682,"{'slope': 0.042447543877938046, 'points': 10, ..."
8,9,3,3,31,40,46.188450,-119.217815,"{'slope': 0.018022269585323783, 'points': 10, ..."
9,10,3,4,41,50,46.188530,-119.218030,"{'slope': 0.06113833866494918, 'points': 10, '..."

In [9]:
# =========================
# –Ø–ß–ï–ô–ö–ê 3 ‚Äî –ú–û–î–£–õ–¨ B: –∫–ª–∞—Å—Ç–µ—Ä–∏–∑–∞—Ü–∏—è –°–ï–ì–ú–ï–ù–¢–û–í + –∫–∞—á–µ—Å—Ç–≤–æ + –∑–∞–ø–∏—Å—å cluster_id –≤ –ë–î
# =========================
# –ß—Ç–æ –¥–µ–ª–∞–µ–º:
# 1) –ß–∏—Ç–∞–µ–º segment_labels.features (JSON) -> –≤—ã—Ç–∞—Å–∫–∏–≤–∞–µ–º –ø—Ä–∏–∑–Ω–∞–∫–∏ –≤ DataFrame
# 2) Imputer (median) + StandardScaler
# 3) –ü—Ä–æ–±—É–µ–º –Ω–µ—Å–∫–æ–ª—å–∫–æ k, —Å—á–∏—Ç–∞–µ–º silhouette + inertia
# 4) –ê–≤—Ç–æ–º–∞—Ç–∏—á–µ—Å–∫–∏ –ø—Ä–µ–¥–ª–∞–≥–∞–µ–º K_BEST (–ø–æ silhouette) + –≤—ã–≤–æ–¥–∏–º —Ç–∞–±–ª–∏—Ü—É
# 5) –û–±—É—á–∞–µ–º —Ñ–∏–Ω–∞–ª—å–Ω—É—é –º–æ–¥–µ–ª—å –∏ –∑–∞–ø–∏—Å—ã–≤–∞–µ–º cluster_id –≤ segment_labels
# 6) –ü—Ä–æ—Ñ–∏–ª–∏—Ä–æ–≤–∞–Ω–∏–µ –∫–ª–∞—Å—Ç–µ—Ä–æ–≤ (—Å—Ä–µ–¥–Ω–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è –ø—Ä–∏–∑–Ω–∞–∫–æ–≤) ‚Äî —á—Ç–æ–±—ã –ø–æ—Ç–æ–º —Ä–∞–∑–º–µ—á–∞—Ç—å risk/evac

import json
import numpy as np
import pandas as pd

from sqlalchemy import text
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

# -------------------------
# 0) –ù–∞—Å—Ç—Ä–æ–π–∫–∏
# -------------------------
K_RANGE = range(2, 11)  # k=2..10 (–º–æ–∂–µ—à—å —Ä–∞—Å—à–∏—Ä–∏—Ç—å)
RANDOM_STATE = 42

# –ë–∞–∑–æ–≤—ã–π —É–Ω–∏–≤–µ—Ä—Å–∞–ª—å–Ω—ã–π –Ω–∞–±–æ—Ä –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –¥–ª—è —Å–µ–≥–º–µ–Ω—Ç–∞
SEG_FEATURES = [
    "distance_m", "duration_s", "avg_speed_mps",
    "elev_gain_m", "elev_loss_m", "elev_min_m", "elev_max_m",
    "slope", "points"
]

# -------------------------
# 1) –ß–∏—Ç–∞–µ–º —Å–µ–≥–º–µ–Ω—Ç—ã –∏–∑ –ë–î
# -------------------------
seg_raw = read_df("""
SELECT segment_id, track_id, segment_index, features
FROM segment_labels
ORDER BY segment_id;
""")

print("‚úÖ segment_labels rows:", len(seg_raw))
display(seg_raw.head(3))

# -------------------------
# 2) –†–∞—Å–ø–∞–∫–æ–≤–∫–∞ JSON features –≤ –∫–æ–ª–æ–Ω–∫–∏
# -------------------------
def unpack_features(x) -> dict:
    if x is None:
        return {}
    if isinstance(x, dict):
        return x
    if isinstance(x, str):
        try:
            return json.loads(x)
        except Exception:
            return {}
    return {}

rows = []
for _, r in seg_raw.iterrows():
    f = unpack_features(r["features"])
    row = {
        "segment_id": int(r["segment_id"]),
        "track_id": int(r["track_id"]),
        "segment_index": int(r["segment_index"]),
    }
    for k in SEG_FEATURES:
        row[k] = f.get(k, np.nan)
    rows.append(row)

df_seg = pd.DataFrame(rows)

print("\n‚úÖ df_seg shape:", df_seg.shape)
display(df_seg.head(5))

# -------------------------
# 3) –ü–æ–¥–≥–æ—Ç–æ–≤–∫–∞ X (NaN -> median, –ø–æ—Ç–æ–º scaling)
# -------------------------
X = df_seg[SEG_FEATURES].copy()

print("\nüìä NaN –ø–æ –ø—Ä–∏–∑–Ω–∞–∫–∞–º (—ç—Ç–æ –Ω–æ—Ä–º–∞–ª—å–Ω–æ ‚Äî –∏–º—å—é—Ç–µ—Ä –∏—Å–ø—Ä–∞–≤–∏—Ç):")
display(X.isna().sum().to_frame("nan_cnt"))

prep = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="median")),
    ("scaler", StandardScaler()),
])

X_prep = prep.fit_transform(X)

# -------------------------
# 4) –ü–æ–¥–±–æ—Ä k: silhouette + inertia
# -------------------------
results = []
for k in K_RANGE:
    km = KMeans(n_clusters=k, random_state=RANDOM_STATE, n_init=10)
    labels = km.fit_predict(X_prep)

    # silhouette —Å—á–∏—Ç–∞–µ—Ç—Å—è —Ç–æ–ª—å–∫–æ –µ—Å–ª–∏ –∫–ª–∞—Å—Ç–µ—Ä–æ–≤ > 1 –∏ –Ω–µ –≤—Å–µ —Ç–æ—á–∫–∏ –≤ –æ–¥–Ω–æ–º
    sil = silhouette_score(X_prep, labels) if len(set(labels)) > 1 else np.nan

    results.append({"k": k, "silhouette": sil, "inertia": km.inertia_})

df_k = pd.DataFrame(results).sort_values("k")

print("\nüìå –ú–µ—Ç—Ä–∏–∫–∏ –∫–∞—á–µ—Å—Ç–≤–∞ –∫–ª–∞—Å—Ç–µ—Ä–∏–∑–∞—Ü–∏–∏ –ø–æ k:")
display(df_k)

# –ê–≤—Ç–æ-–ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ K_BEST: –≤—ã–±–∏—Ä–∞–µ–º k —Å –º–∞–∫—Å–∏–º–∞–ª—å–Ω—ã–º silhouette
k_best_auto = int(df_k.loc[df_k["silhouette"].idxmax(), "k"])
best_sil = float(df_k["silhouette"].max())

print(f"\n‚≠ê –ê–≤—Ç–æ-—Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏—è K_BEST = {k_best_auto} (silhouette={best_sil:.4f})")
print("–ï—Å–ª–∏ —Ç–µ–±–µ –≤–∞–∂–Ω–æ '—á—Ç–æ–±—ã –±—ã–ª–æ –ø–æ–Ω—è—Ç–Ω–æ' ‚Äî –æ–±—ã—á–Ω–æ –±–µ—Ä—É—Ç 3..6 –∫–ª–∞—Å—Ç–µ—Ä–æ–≤, –¥–∞–∂–µ –µ—Å–ª–∏ silhouette —á—É—Ç—å —Ö—É–∂–µ.")

# -------------------------
# 5) –§–∏–Ω–∞–ª—å–Ω–∞—è –º–æ–¥–µ–ª—å (–º–æ–∂–µ—à—å –≤—Ä—É—á–Ω—É—é –ø–µ—Ä–µ–æ–ø—Ä–µ–¥–µ–ª–∏—Ç—å)
# -------------------------
K_BEST = k_best_auto   # <-- –µ—Å–ª–∏ —Ö–æ—á–µ—à—å –≤—Ä—É—á–Ω—É—é: K_BEST = 5

km_final = KMeans(n_clusters=K_BEST, random_state=RANDOM_STATE, n_init=10)
df_seg["cluster_id"] = km_final.fit_predict(X_prep)

print(f"\n‚úÖ –ö–ª–∞—Å—Ç–µ—Ä—ã –ø—Ä–∏—Å–≤–æ–µ–Ω—ã (K_BEST={K_BEST}). –ü—Ä–∏–º–µ—Ä:")
display(df_seg[["segment_id", "track_id", "segment_index", "cluster_id"]].head(10))

# -------------------------
# 6) –ü—Ä–æ—Ñ–∏–ª–∏—Ä–æ–≤–∞–Ω–∏–µ –∫–ª–∞—Å—Ç–µ—Ä–æ–≤ (—Å—Ä–µ–¥–Ω–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è –ø—Ä–∏–∑–Ω–∞–∫–æ–≤)
# -------------------------
profile = df_seg.groupby("cluster_id")[SEG_FEATURES].mean(numeric_only=True).round(3)
cnts = df_seg["cluster_id"].value_counts().sort_index().rename("count")
profile = profile.join(cnts)

print("\nüß† –ü—Ä–æ—Ñ–∏–ª–∏ –∫–ª–∞—Å—Ç–µ—Ä–æ–≤ (—Å—Ä–µ–¥–Ω–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ + count):")
display(profile)

# -------------------------
# 7) –ó–∞–ø–∏—Å—å cluster_id –≤ segment_labels
# -------------------------
update_sql = f"""
UPDATE "{cfg.schema}"."segment_labels"
SET cluster_id = :cluster_id
WHERE segment_id = :segment_id;
"""

with get_connection() as conn:
    set_search_path(conn)
    for _, r in df_seg[["segment_id", "cluster_id"]].iterrows():
        conn.execute(text(update_sql), {
            "segment_id": int(r["segment_id"]),
            "cluster_id": int(r["cluster_id"]),
        })
    conn.commit()

print("‚úÖ cluster_id –∑–∞–ø–∏—Å–∞–Ω—ã –≤ segment_labels.")

# -------------------------
# 8) –ö–æ–Ω—Ç—Ä–æ–ª—å: —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –∫–ª–∞—Å—Ç–µ—Ä–æ–≤ –∏–∑ –ë–î
# -------------------------
dist = read_df("""
SELECT cluster_id, COUNT(*) AS cnt
FROM segment_labels
GROUP BY cluster_id
ORDER BY cluster_id;
""")

print("\nüìä –†–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ —Å–µ–≥–º–µ–Ω—Ç–æ–≤ –ø–æ –∫–ª–∞—Å—Ç–µ—Ä–∞–º:")
display(dist)

‚úÖ segment_labels rows: 8663

,segment_id,track_id,segment_index,features
0,1,2,0,"{'slope': 5.646957576726941, 'points': 10, 'di..."
1,2,2,1,"{'slope': 0.037576334892397326, 'points': 10, ..."
2,3,2,2,"{'slope': 0.07439179690716077, 'points': 10, '..."

‚úÖ df_seg shape: (8663, 12)

,segment_id,track_id,segment_index,distance_m,duration_s,avg_speed_mps,elev_gain_m,elev_loss_m,elev_min_m,elev_max_m,slope,points
0,1,2,0,15.008133,15748.442,0.000953,135.983565,110.327036,16.976774,101.727065,5.646958,10
1,2,2,1,1385.158823,28361.071,0.048840,80.556518,94.560507,45.917909,97.967101,0.037576,10
2,3,2,2,764.505079,2961.397,0.258157,70.112958,84.322839,57.971014,114.843920,0.074392,10
3,4,2,3,12.823219,31416.054,0.000408,111.152969,74.992999,49.397907,105.634113,4.385498,10
4,5,2,4,13.362926,2079.781,0.006425,22.271424,60.564648,69.724232,130.288880,4.532289,5

üìä NaN –ø–æ –ø—Ä–∏–∑–Ω–∞–∫–∞–º (—ç—Ç–æ –Ω–æ—Ä–º–∞–ª—å–Ω–æ ‚Äî –∏–º—å—é—Ç–µ—Ä –∏—Å–ø—Ä–∞–≤–∏—Ç):

               nan_cnt
distance_m           0
duration_s        7469
avg_speed_mps     7503
elev_gain_m       2714
elev_loss_m       2714
elev_min_m        2712
elev_max_m        2712
slope             2767
points               0

üìå –ú–µ—Ç—Ä–∏–∫–∏ –∫–∞—á–µ—Å—Ç–≤–∞ –∫–ª–∞—Å—Ç–µ—Ä–∏–∑–∞—Ü–∏–∏ –ø–æ k:

    k  silhouette       inertia
0   2    0.577375  63492.115930
1   3    0.565704  52780.882633
2   4    0.575149  44968.409331
3   5    0.607238  37236.123909
4   6    0.576733  31077.469556
5   7    0.419174  26068.387039
6   8    0.420368  22300.122451
7   9    0.422581  19788.936281
8  10    0.344404  18468.688953

‚≠ê –ê–≤—Ç–æ-—Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏—è K_BEST = 5 (silhouette=0.6072)
–ï—Å–ª–∏ —Ç–µ–±–µ –≤–∞–∂–Ω–æ '—á—Ç–æ–±—ã –±—ã–ª–æ –ø–æ–Ω—è—Ç–Ω–æ' ‚Äî –æ–±—ã—á–Ω–æ –±–µ—Ä—É—Ç 3..6 –∫–ª–∞—Å—Ç–µ—Ä–æ–≤, –¥–∞–∂–µ –µ—Å–ª–∏ silhouette —á—É—Ç—å —Ö—É–∂–µ.

‚úÖ –ö–ª–∞—Å—Ç–µ—Ä—ã –ø—Ä–∏—Å–≤–æ–µ–Ω—ã (K_BEST=5). –ü—Ä–∏–º–µ—Ä:

   segment_id  track_id  segment_index  cluster_id
0           1         2              0           4
1           2         2              1           4
2           3         2              2           2
3           4         2              3           4
4           5         2              4           3
5           6         3              0           2
6           7         3              1           2
7           8         3              2           2
8           9         3              3           2
9          10         3              4           2

üß† –ü—Ä–æ—Ñ–∏–ª–∏ –∫–ª–∞—Å—Ç–µ—Ä–æ–≤ (—Å—Ä–µ–¥–Ω–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ + count):

,distance_m,duration_s,avg_speed_mps,elev_gain_m,elev_loss_m,elev_min_m,elev_max_m,slope,points,count
cluster_id,,,,,,,,,,
0,773.484,214.444,4.027,3.168,3.237,181.478,185.567,0.017,9.999,7300
1,574.466,288.205,3.849,10.160,10.529,784.235,798.832,0.040,9.997,1011
2,16.883,22.955,0.861,1.292,1.329,144.363,146.297,0.254,9.991,323
3,324.384,437.756,2.663,3.054,7.147,218.482,224.937,0.478,3.962,26
4,470.997,25175.189,0.017,109.231,93.294,37.431,101.776,3.357,10.000,3

‚úÖ cluster_id –∑–∞–ø–∏—Å–∞–Ω—ã –≤ segment_labels.

üìä –†–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ —Å–µ–≥–º–µ–Ω—Ç–æ–≤ –ø–æ –∫–ª–∞—Å—Ç–µ—Ä–∞–º:

   cluster_id   cnt
0           0  7300
1           1  1011
2           2   323
3           3    26
4           4     3

In [2]:
from sqlalchemy import text

with get_connection() as conn:
    set_search_path(conn)
    conn.execute(text("""
        UPDATE segment_labels
        SET risk_label = NULL,
            evac_label = NULL
        ;
    """))
    conn.commit()

print("‚úÖ –†–∞–∑–º–µ—Ç–∫–∞ risk/evac –æ—á–∏—â–µ–Ω–∞ (cluster_id –∏ features –æ—Å—Ç–∞–ª–∏—Å—å).")

‚úÖ –†–∞–∑–º–µ—Ç–∫–∞ risk/evac –æ—á–∏—â–µ–Ω–∞ (cluster_id –∏ features –æ—Å—Ç–∞–ª–∏—Å—å).

In [10]:
# =========================
# –Ø–ß–ï–ô–ö–ê 4 ‚Äî –ú–û–î–£–õ–¨ B: —Ä–∞–∑–º–µ—Ç–∫–∞ —Å–µ–≥–º–µ–Ω—Ç–æ–≤ (risk / evac) + –∑–∞–ø–∏—Å—å –≤ –ë–î
# =========================
# –°–º—ã—Å–ª:
# 1) –ë–µ—Ä—ë–º —Å–µ–≥–º–µ–Ω—Ç—ã –∏–∑ segment_labels (—É –Ω–∏—Ö —É–∂–µ –µ—Å—Ç—å cluster_id –∏ –±–∞–∑–æ–≤—ã–µ features –∏–∑ —è—á–µ–π–∫–∏ 2).
# 2) –ü–æ–¥—Ç—è–≥–∏–≤–∞–µ–º –±–ª–∏–∂–∞–π—à–∏–π context_time_series (–µ—Å–ª–∏ –µ—Å—Ç—å) –ø–æ source_id –∏ –ø–æ –∫–æ–æ—Ä–¥–∏–Ω–∞—Ç–∞–º.
# 3) –ò–∑ –∫–æ–Ω—Ç–µ–∫—Å—Ç–∞ –≤—ã—Ç–∞—Å–∫–∏–≤–∞–µ–º:
#    - weather.temp_c (–µ—Å–ª–∏ –µ—Å—Ç—å)
#    - nearby.counts (–µ—Å–ª–∏ –µ—Å—Ç—å)
# 4) –ü–æ–ª—É–∞–≤—Ç–æ–º–∞—Ç–∏—á–µ—Å–∫–∏ —Å—Ç–∞–≤–∏–º –º–µ—Ç–∫–∏:
#    - risk_label: none / flood / fire
#    - evac_label: easy / medium / hard
# 5) –ó–∞–ø–∏—Å—ã–≤–∞–µ–º –æ–±—Ä–∞—Ç–Ω–æ –≤ segment_labels.

import json
import numpy as np
import pandas as pd
from sqlalchemy import text

# --- –ù–ê–°–¢–†–û–ô–ö–ò (–Ω–∞ —Å–æ—Ä–µ–≤–Ω–æ–≤–∞–Ω–∏—è—Ö –º–µ–Ω—è—é—Ç—Å—è —Ç—É—Ç)
MATCH_RADIUS_M = 400   # —Ä–∞–¥–∏—É—Å –ø–æ–∏—Å–∫–∞ –±–ª–∏–∂–∞–π—à–µ–≥–æ –∫–æ–Ω—Ç–µ–∫—Å—Ç–∞ –∫ —Å–µ–≥–º–µ–Ω—Ç—É
FLOOD_WATERWAY_TH = 3  # –µ—Å–ª–∏ —Ä—è–¥–æ–º –º–Ω–æ–≥–æ waterway => "flood"
FIRE_TEMP_TH = 25      # –µ—Å–ª–∏ –∂–∞—Ä–∫–æ –∏ –º–Ω–æ–≥–æ natural/landuse => "fire"
HARD_SLOPE_TH = 0.12   # —É–∫–ª–æ–Ω –≤—ã—à–µ => —Å–ª–æ–∂–Ω–µ–µ —ç–≤–∞–∫—É–∞—Ü–∏—è
MED_SLOPE_TH  = 0.05

# ---------- —É—Ç–∏–ª–∏—Ç—ã ----------
def to_dict(x):
    if x is None:
        return {}
    if isinstance(x, dict):
        return x
    if isinstance(x, str):
        try:
            return json.loads(x)
        except Exception:
            return {}
    return {}

def haversine_m(lat1, lon1, lat2, lon2):
    R = 6371000.0
    phi1, phi2 = np.radians(lat1), np.radians(lat2)
    dphi = np.radians(lat2 - lat1)
    dl = np.radians(lon2 - lon1)
    a = np.sin(dphi/2)**2 + np.cos(phi1)*np.cos(phi2)*np.sin(dl/2)**2
    return float(2 * R * np.arctan2(np.sqrt(a), np.sqrt(1 - a)))

def counts_total(counts_dict, tag):
    # counts_dict[tag] –æ–±—ã—á–Ω–æ –≤–∏–¥–∞: [['footway', 120], ['service', 16], ...]
    arr = counts_dict.get(tag, [])
    s = 0
    for item in arr:
        # item –º–æ–∂–µ—Ç –±—ã—Ç—å list/tuple: [name, cnt]
        if isinstance(item, (list, tuple)) and len(item) >= 2:
            try:
                s += float(item[1])
            except Exception:
                pass
    return float(s)

# ---------- 1) —á–∏—Ç–∞–µ–º —Å–µ–≥–º–µ–Ω—Ç—ã ----------
seg = read_df("""
SELECT
  segment_id, track_id, segment_index,
  lat_center, lon_center,
  features, cluster_id
FROM segment_labels
ORDER BY segment_id;
""")
seg["features_dict"] = seg["features"].apply(to_dict)

print("‚úÖ segment_labels:", seg.shape)
display(seg.head(3))

# ---------- 2) –¥–æ–±–∞–≤–ª—è–µ–º source_id —á–µ—Ä–µ–∑ tracks (—á—Ç–æ–±—ã –º—ç—Ç—á–∏—Ç—å —Å context_time_series) ----------
tracks_map = read_df("SELECT track_id, source_id FROM tracks;")
seg = seg.merge(tracks_map, on="track_id", how="left")

# ---------- 3) —á–∏—Ç–∞–µ–º –∫–æ–Ω—Ç–µ–∫—Å—Ç ----------
ctx = read_df("""
SELECT context_id, source_id, lat, lon, time, values
FROM context_time_series
ORDER BY context_id;
""")
ctx["values_dict"] = ctx["values"].apply(to_dict)

print("‚úÖ context_time_series:", ctx.shape)
display(ctx.head(3))

# ---------- 4) –º—ç—Ç—á–∏–º –∫–æ–Ω—Ç–µ–∫—Å—Ç –∫ —Å–µ–≥–º–µ–Ω—Ç–∞–º (–ø–æ source_id + –±–ª–∏–∂–∞–π—à–∞—è —Ç–æ—á–∫–∞ –≤ —Ä–∞–¥–∏—É—Å–µ) ----------
# –í–∞–∂–Ω–æ: –∫–æ–Ω—Ç–µ–∫—Å—Ç–∞ —É —Ç–µ–±—è –º–∞–ª–æ (–Ω–∞–ø—Ä–∏–º–µ—Ä 89 —Å—Ç—Ä–æ–∫), –ø–æ—ç—Ç–æ–º—É –º—ç—Ç—á –±—É–¥–µ—Ç —Ç–æ–ª—å–∫–æ —á–∞—Å—Ç–∏ —Å–µ–≥–º–µ–Ω—Ç–æ–≤ ‚Äî —ç—Ç–æ –Ω–æ—Ä–º–∞–ª—å–Ω–æ.
ctx_by_source = {sid: df.reset_index(drop=True) for sid, df in ctx.groupby("source_id")}

matched_ctx_id = []
matched_ctx_dist = []
matched_ctx_values = []

for _, r in seg.iterrows():
    sid = r["source_id"]
    latc, lonc = float(r["lat_center"]), float(r["lon_center"])

    if sid not in ctx_by_source or pd.isna(sid):
        matched_ctx_id.append(None)
        matched_ctx_dist.append(None)
        matched_ctx_values.append({})
        continue

    dfc = ctx_by_source[sid]
    # —Å—á–∏—Ç–∞–µ–º —Ä–∞—Å—Å—Ç–æ—è–Ω–∏—è –¥–æ –≤—Å–µ—Ö –∫–æ–Ω—Ç–µ–∫—Å—Ç-—Ç–æ—á–µ–∫ —ç—Ç–æ–≥–æ source_id
    dists = dfc.apply(lambda x: haversine_m(latc, lonc, float(x["lat"]), float(x["lon"])), axis=1)
    j = int(dists.idxmin())
    dmin = float(dists.loc[j])

    if dmin <= MATCH_RADIUS_M:
        matched_ctx_id.append(int(dfc.loc[j, "context_id"]))
        matched_ctx_dist.append(dmin)
        matched_ctx_values.append(dfc.loc[j, "values_dict"] if isinstance(dfc.loc[j, "values_dict"], dict) else {})
    else:
        matched_ctx_id.append(None)
        matched_ctx_dist.append(dmin)
        matched_ctx_values.append({})

seg["ctx_id"] = matched_ctx_id
seg["ctx_dist_m"] = matched_ctx_dist
seg["ctx_values"] = matched_ctx_values

print(f"üîó context matched: {seg['ctx_id'].notna().sum()} | no_ctx: {seg['ctx_id'].isna().sum()} | total: {len(seg)}")

# ---------- 5) –¥–æ—Å—Ç–∞–µ–º weather/nearby –∏–∑ ctx_values ----------
def extract_ctx_features(v: dict) -> dict:
    weather = v.get("weather", {}) if isinstance(v.get("weather", {}), dict) else {}
    nearby  = v.get("nearby", {})  if isinstance(v.get("nearby", {}), dict) else {}
    counts  = nearby.get("counts", {}) if isinstance(nearby.get("counts", {}), dict) else {}

    # temp
    temp_c = weather.get("temp_c", np.nan)
    ok = weather.get("ok", False)

    out = {
        "weather_ok": bool(ok),
        "temp_c": float(temp_c) if temp_c is not None and temp_c == temp_c else np.nan,  # temp_c==temp_c –ø—Ä–æ–≤–µ—Ä–∫–∞ –Ω–∞ nan
        "nearby_highway_total": counts_total(counts, "highway"),
        "nearby_natural_total": counts_total(counts, "natural"),
        "nearby_landuse_total": counts_total(counts, "landuse"),
        "nearby_waterway_total": counts_total(counts, "waterway"),
        "nearby_building_total": counts_total(counts, "building"),
        "nearby_amenity_total": counts_total(counts, "amenity"),
    }
    return out

ctx_feats = seg["ctx_values"].apply(lambda v: extract_ctx_features(v) if isinstance(v, dict) else {})
ctx_feats_df = pd.json_normalize(ctx_feats)
seg = pd.concat([seg, ctx_feats_df], axis=1)

# ---------- 6) –±–µ—Ä—ë–º –±–∞–∑–æ–≤—ã–µ —Å–µ–≥–º–µ–Ω—Ç-—Ñ–∏—á–∏ –∏–∑ features_dict ----------
def getf(fd, k, default=np.nan):
    try:
        v = fd.get(k, default)
        return v
    except Exception:
        return default

seg["slope"]      = seg["features_dict"].apply(lambda d: float(getf(d,"slope", np.nan)) if getf(d,"slope", np.nan) is not None else np.nan)
seg["distance_m"] = seg["features_dict"].apply(lambda d: float(getf(d,"distance_m", np.nan)) if getf(d,"distance_m", np.nan) is not None else np.nan)

# ---------- 7) –ü–†–ê–í–ò–õ–ê –†–ê–ó–ú–ï–¢–ö–ò (–ø–æ–ª—É–∞–≤—Ç–æ–º–∞—Ç–∏—á–µ—Å–∫–∞—è –ª–æ–≥–∏–∫–∞) ----------
def assign_risk(row) -> str:
    # –ï—Å–ª–∏ –∫–æ–Ω—Ç–µ–∫—Å—Ç–∞ –Ω–µ—Ç ‚Äî –ª—É—á—à–µ —Å—Ç–∞–≤–∏—Ç—å none (—á–µ—Å—Ç–Ω–æ), —á–µ–º –≤—ã–¥—É–º—ã–≤–∞—Ç—å.
    if pd.isna(row.get("ctx_id", np.nan)):
        return "none"

    waterway = float(row.get("nearby_waterway_total", 0) or 0)
    natural  = float(row.get("nearby_natural_total", 0) or 0)
    landuse  = float(row.get("nearby_landuse_total", 0) or 0)
    temp     = row.get("temp_c", np.nan)

    # flood: –º–Ω–æ–≥–æ –≤–æ–¥–Ω—ã—Ö –æ–±—ä–µ–∫—Ç–æ–≤ —Ä—è–¥–æ–º
    if waterway >= FLOOD_WATERWAY_TH:
        return "flood"

    # fire: –∂–∞—Ä–∫–æ + –º–Ω–æ–≥–æ –ø—Ä–∏—Ä–æ–¥—ã/—Ä–∞—Å—Ç–∏—Ç–µ–ª—å–Ω–æ—Å—Ç–∏
    if (temp == temp) and (temp >= FIRE_TEMP_TH) and ((natural + landuse) >= 20):
        return "fire"

    return "none"

def assign_evac(row) -> str:
    # —É–∫–ª–æ–Ω + –¥–æ—Å—Ç—É–ø–Ω–æ—Å—Ç—å –¥–æ—Ä–æ–≥ —Ä—è–¥–æ–º
    slope = row.get("slope", np.nan)
    highway = float(row.get("nearby_highway_total", 0) or 0)

    # –µ—Å–ª–∏ –∫–æ–Ω—Ç–µ–∫—Å—Ç –µ—Å—Ç—å –∏ –¥–æ—Ä–æ–≥ –º–Ω–æ–≥–æ ‚Äî –ø—Ä–æ—â–µ —ç–≤–∞–∫—É–∞—Ü–∏—è
    if highway >= 200:
        return "easy"

    # –µ—Å–ª–∏ —É–∫–ª–æ–Ω –Ω–µ–∏–∑–≤–µ—Å—Ç–µ–Ω ‚Äî —Å—Ç–∞–≤–∏–º medium (–Ω–µ–π—Ç—Ä–∞–ª—å–Ω–æ)
    if not (slope == slope):
        return "medium"

    if slope >= HARD_SLOPE_TH:
        return "hard"
    if slope >= MED_SLOPE_TH:
        return "medium"
    return "easy"

seg["risk_label"] = seg.apply(assign_risk, axis=1)
seg["evac_label"] = seg.apply(assign_evac, axis=1)

# ---------- 8) —Ñ–æ—Ä–º–∏—Ä—É–µ–º –Ω–æ–≤—ã–π features (–¥–æ–±–∞–≤–ª—è–µ–º ctx-—Ñ–∏—á–∏ –≤–Ω—É—Ç—Ä—å json) ----------
def merge_features(fd: dict, row) -> dict:
    base = dict(fd) if isinstance(fd, dict) else {}
    base["ctx"] = {
        "matched": bool(row.get("ctx_id") == row.get("ctx_id")),
        "ctx_id": int(row["ctx_id"]) if row.get("ctx_id") == row.get("ctx_id") else None,
        "ctx_dist_m": float(row["ctx_dist_m"]) if row.get("ctx_dist_m") == row.get("ctx_dist_m") else None,
        "temp_c": float(row["temp_c"]) if row.get("temp_c") == row.get("temp_c") else None,
        "nearby_highway_total": float(row.get("nearby_highway_total", 0) or 0),
        "nearby_natural_total": float(row.get("nearby_natural_total", 0) or 0),
        "nearby_landuse_total": float(row.get("nearby_landuse_total", 0) or 0),
        "nearby_waterway_total": float(row.get("nearby_waterway_total", 0) or 0),
        "nearby_building_total": float(row.get("nearby_building_total", 0) or 0),
        "nearby_amenity_total": float(row.get("nearby_amenity_total", 0) or 0),
    }
    return base

seg["features_new"] = seg.apply(lambda r: merge_features(r["features_dict"], r), axis=1)

# ---------- 9) –°–¢–ê–¢–ò–°–¢–ò–ö–ê (—á—Ç–æ–±—ã —É–≤–∏–¥–µ—Ç—å, —á—Ç–æ –ø–æ–ª—É—á–∏–ª–æ—Å—å) ----------
print("\nüìä risk_label —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ:")
display(seg["risk_label"].value_counts(dropna=False).to_frame("cnt"))

print("\nüìä evac_label —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ:")
display(seg["evac_label"].value_counts(dropna=False).to_frame("cnt"))

print("\nüìä matched ctx –¥–∏—Å—Ç–∞–Ω—Ü–∏–∏ (–µ—Å–ª–∏ –µ—Å—Ç—å):")
display(seg.loc[seg["ctx_id"].notna(), "ctx_dist_m"].describe().to_frame().T)

print("‚úÖ matched ctx:", int(seg["ctx_id"].notna().sum()), "–∏–∑", len(seg))
print("‚úÖ share matched %:", round(100 * seg["ctx_id"].notna().mean(), 2))

# ---------- 10) –ó–∞–ø–∏—Å—å –≤ –ë–î (–í–ê–ñ–ù–û: –±–µ–∑ :features::jsonb, –∏—Å–ø–æ–ª—å–∑—É–µ–º CAST) ----------
def to_json_str(x) -> str:
    return json.dumps(x, ensure_ascii=False)

upd_sql = text(f"""
UPDATE "{cfg.schema}"."segment_labels"
SET risk_label = :risk_label,
    evac_label = :evac_label,
    features   = CAST(:features AS jsonb)
WHERE segment_id = :segment_id;
""")

rows_updated = 0
with get_connection() as conn:
    set_search_path(conn)
    for _, rr in seg.iterrows():
        conn.execute(upd_sql, {
            "segment_id": int(rr["segment_id"]),
            "risk_label": str(rr["risk_label"]),
            "evac_label": str(rr["evac_label"]),
            "features": to_json_str(rr["features_new"]),
        })
        rows_updated += 1
    conn.commit()

print(f"\n‚úÖ –ó–∞–ø–∏—Å–∞–ª–∏ —Ä–∞–∑–º–µ—Ç–∫—É –≤ –ë–î. –û–±–Ω–æ–≤–ª–µ–Ω–æ —Å—Ç—Ä–æ–∫: {rows_updated}")

# ---------- 11) –ö–æ–Ω—Ç—Ä–æ–ª—å–Ω—ã–π –ø—Ä–æ—Å–º–æ—Ç—Ä ----------
check = read_df("""
SELECT segment_id, track_id, segment_index, cluster_id, risk_label, evac_label
FROM segment_labels
ORDER BY segment_id
LIMIT 15;
""")
display(check)

‚úÖ segment_labels: (8663, 8)

,segment_id,track_id,segment_index,lat_center,lon_center,features,cluster_id,features_dict
0,1,2,0,53.567823,9.896177,"{'slope': 5.646957576726941, 'points': 10, 'di...",4,"{'slope': 5.646957576726941, 'points': 10, 'di..."
1,2,2,1,53.569020,9.892310,"{'slope': 0.037576334892397326, 'points': 10, ...",4,"{'slope': 0.037576334892397326, 'points': 10, ..."
2,3,2,2,53.568016,9.901295,"{'slope': 0.07439179690716077, 'points': 10, '...",2,"{'slope': 0.07439179690716077, 'points': 10, '..."

‚úÖ context_time_series: (89, 7)

,context_id,source_id,lat,lon,time,values,values_dict
0,1,2,53.567858,9.896249,2026-02-01 23:03:48.984000+00:00,"{'point': {'seq': 1, 'ele_m': 76.0705366265677...","{'point': {'seq': 1, 'ele_m': 76.0705366265677..."
1,2,3,46.188395,-119.217436,2026-02-03 00:45:03.999000+00:00,"{'point': {'seq': 1, 'ele_m': 234.45009, 'segm...","{'point': {'seq': 1, 'ele_m': 234.45009, 'segm..."
2,3,4,38.763706,-121.147258,2026-01-31 22:07:40+00:00,"{'point': {'seq': 1, 'ele_m': 141.800003051757...","{'point': {'seq': 1, 'ele_m': 141.800003051757..."

üîó context matched: 496 | no_ctx: 8167 | total: 8663

üìä risk_label —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ:

             cnt
risk_label
none        8617
flood         46

üìä evac_label —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ:

             cnt
evac_label
easy        5133
medium      3267
hard         263

üìä matched ctx –¥–∏—Å—Ç–∞–Ω—Ü–∏–∏ (–µ—Å–ª–∏ –µ—Å—Ç—å):

,count,mean,std,min,25%,50%,75%,max
ctx_dist_m,496.0,130.461497,118.507173,3.950437e-10,28.389115,87.597736,219.849732,398.088595

‚úÖ matched ctx: 496 –∏–∑ 8663
‚úÖ share matched %: 5.73

‚úÖ –ó–∞–ø–∏—Å–∞–ª–∏ —Ä–∞–∑–º–µ—Ç–∫—É –≤ –ë–î. –û–±–Ω–æ–≤–ª–µ–Ω–æ —Å—Ç—Ä–æ–∫: 8663

    segment_id  track_id  segment_index  cluster_id risk_label evac_label
0            1         2              0           4       none       hard
1            2         2              1           4       none       easy
2            3         2              2           2       none     medium
3            4         2              3           4       none       hard
4            5         2              4           3       none       hard
5            6         3              0           2       none     medium
6            7         3              1           2       none     medium
7            8         3              2           2       none       easy
8            9         3              3           2       none       easy
9           10         3              4           2       none     medium
10          11         3              5           2       none       easy
11          12         4              0           0       none     medium
12          13         4              1           0       none     medium
13          14         4              2           0       none       easy
14          15         4              3           0       none       easy

In [12]:
sample = read_df("""
SELECT
    segment_id,
    track_id,
    segment_index,
    cluster_id,
    features
FROM segment_labels
LIMIT 10;
""")

display(sample)

,segment_id,track_id,segment_index,cluster_id,features
0,4,2,3,4,"{'ctx': {'ctx_id': 1, 'temp_c': -6.2, 'matched..."
1,5,2,4,3,"{'ctx': {'ctx_id': 1, 'temp_c': -6.2, 'matched..."
2,6,3,0,2,"{'ctx': {'ctx_id': 2, 'temp_c': 8.5, 'matched'..."
3,7,3,1,2,"{'ctx': {'ctx_id': 2, 'temp_c': 8.5, 'matched'..."
4,8,3,2,2,"{'ctx': {'ctx_id': 2, 'temp_c': 8.5, 'matched'..."
5,9,3,3,2,"{'ctx': {'ctx_id': 2, 'temp_c': 8.5, 'matched'..."
6,10,3,4,2,"{'ctx': {'ctx_id': 2, 'temp_c': 8.5, 'matched'..."
7,11,3,5,2,"{'ctx': {'ctx_id': 2, 'temp_c': 8.5, 'matched'..."
8,12,4,0,0,"{'ctx': {'ctx_id': 3, 'temp_c': 14.2, 'matched..."
9,13,4,1,0,"{'ctx': {'ctx_id': 3, 'temp_c': 14.2, 'matched..."

In [13]:
read_df("""
SELECT
    COUNT(*) AS total,
    COUNT(*) FILTER (WHERE (features->>'slope')::float > 0.3) AS steep_cnt,
    COUNT(*) FILTER (WHERE (features->>'slope')::float > 0.6) AS very_steep_cnt
FROM segment_labels;
""")

   total  steep_cnt  very_steep_cnt
0   8663         77              19

In [14]:
read_df("""
SELECT
    COUNT(*) AS total,
    COUNT(*) FILTER (WHERE (features->>'distance_to_water_m') IS NOT NULL) AS with_water
FROM segment_labels;
""")

   total  with_water
0   8663           0

In [6]:
# =========================
# –°–õ–£–ñ–ï–ë–ù–ê–Ø –Ø–ß–ï–ô–ö–ê ‚Äî –ü–û–õ–ù–ê–Ø –û–ß–ò–°–¢–ö–ê segment_labels
# =========================
# –ò—Å–ø–æ–ª—å–∑—É–µ–º –¢–û–õ–¨–ö–û –∫–æ–≥–¥–∞ —Ö–æ—Ç–∏–º –ø–µ—Ä–µ—Å–æ–±—Ä–∞—Ç—å —Å–µ–≥–º–µ–Ω—Ç—ã —Å –Ω—É–ª—è
# (–Ω–∞–ø—Ä–∏–º–µ—Ä, –º–µ–Ω—è–µ–º SEGMENT_SIZE: 100 / 200 / 300)

from sqlalchemy import text
from src.common.db import get_connection, set_search_path, DBConfig

cfg = DBConfig.from_env()

with get_connection() as conn:
    set_search_path(conn)
    conn.execute(text(f'TRUNCATE TABLE "{cfg.schema}"."segment_labels" RESTART IDENTITY;'))
    conn.commit()

print("üßπ –¢–∞–±–ª–∏—Ü–∞ segment_labels –ø–æ–ª–Ω–æ—Å—Ç—å—é –æ—á–∏—â–µ–Ω–∞ (ID —Å–±—Ä–æ—à–µ–Ω—ã).")

üßπ –¢–∞–±–ª–∏—Ü–∞ segment_labels –ø–æ–ª–Ω–æ—Å—Ç—å—é –æ—á–∏—â–µ–Ω–∞ (ID —Å–±—Ä–æ—à–µ–Ω—ã).

In [15]:
risk_stats = read_df("""
SELECT
    risk_label,
    COUNT(*) AS cnt
FROM segment_labels
GROUP BY risk_label
ORDER BY cnt DESC;
""")

display(risk_stats)

  risk_label   cnt
0       none  8617
1      flood    46

In [16]:
risk_check = read_df("""
SELECT
    COUNT(*) FILTER (WHERE risk_label IS NULL) AS is_null,
    COUNT(*) FILTER (WHERE risk_label = 'none') AS is_none,
    COUNT(*) AS total
FROM segment_labels;
""")

display(risk_check)

   is_null  is_none  total
0        0     8617   8663

In [17]:
null_risk = read_df("""
SELECT
    segment_id,
    track_id,
    segment_index,
    cluster_id,
    features
FROM segment_labels
WHERE risk_label IS NULL
LIMIT 20;
""")

display(null_risk)

Empty DataFrame
Columns: [segment_id, track_id, segment_index, cluster_id, features]
Index: []

In [18]:
non_none_risk = read_df("""
SELECT
    segment_id,
    track_id,
    segment_index,
    cluster_id,
    risk_label,
    evac_label,
    features
FROM segment_labels
WHERE risk_label IS NOT NULL
  AND risk_label <> 'none'
LIMIT 20;
""")

display(non_none_risk)

,segment_id,track_id,segment_index,cluster_id,risk_label,evac_label,features
0,18,5,0,2,flood,easy,"{'ctx': {'ctx_id': 4, 'temp_c': 18.0, 'matched..."
1,19,5,1,0,flood,easy,"{'ctx': {'ctx_id': 4, 'temp_c': 18.0, 'matched..."
2,20,5,2,0,flood,easy,"{'ctx': {'ctx_id': 4, 'temp_c': 18.0, 'matched..."
3,21,5,3,0,flood,easy,"{'ctx': {'ctx_id': 4, 'temp_c': 18.0, 'matched..."
4,22,5,4,0,flood,easy,"{'ctx': {'ctx_id': 4, 'temp_c': 18.0, 'matched..."
5,615,8,59,0,flood,easy,"{'ctx': {'ctx_id': 30, 'temp_c': 1.0, 'matched..."
6,616,8,60,0,flood,easy,"{'ctx': {'ctx_id': 30, 'temp_c': 1.0, 'matched..."
7,646,8,90,0,flood,easy,"{'ctx': {'ctx_id': 31, 'temp_c': 2.1, 'matched..."
8,795,8,239,0,flood,easy,"{'ctx': {'ctx_id': 36, 'temp_c': 3.7, 'matched..."
9,796,8,240,0,flood,easy,"{'ctx': {'ctx_id': 36, 'temp_c': 3.7, 'matched..."
10,797,8,241,0,flood,easy,"{'ctx': {'ctx_id': 36, 'temp_c': 3.7, 'matched..."
11,975,8,419,0,flood,easy,"{'ctx': {'ctx_id': 41, 'temp_c': 1.3, 'matched..."
12,976,8,420,0,flood,easy,"{'ctx': {'ctx_id': 41, 'temp_c': 1.3, 'matched..."
13,1005,8,449,0,flood,easy,"{'ctx': {'ctx_id': 42, 'temp_c': 1.3, 'matched..."
14,1006,8,450,0,flood,easy,"{'ctx': {'ctx_id': 42, 'temp_c': 1.3, 'matched..."
15,1185,8,629,0,flood,easy,"{'ctx': {'ctx_id': 47, 'temp_c': 2.5, 'matched..."
16,1186,8,630,0,flood,easy,"{'ctx': {'ctx_id': 47, 'temp_c': 2.5, 'matched..."
17,1305,8,749,0,flood,easy,"{'ctx': {'ctx_id': 50, 'temp_c': 2.5, 'matched..."
18,1306,8,750,0,flood,easy,"{'ctx': {'ctx_id': 50, 'temp_c': 2.5, 'matched..."
19,1334,8,778,0,flood,easy,"{'ctx': {'ctx_id': 51, 'temp_c': 3.5, 'matched..."

In [19]:
import json
import pandas as pd

sample = read_df("""
SELECT segment_id, features
FROM segment_labels
LIMIT 5;
""")

for _, r in sample.iterrows():
    print(f"\nüì¶ segment_id = {r['segment_id']}")
    print(json.dumps(r["features"], indent=2, ensure_ascii=False))

üì¶ segment_id = 4
{
  "ctx": {
    "ctx_id": 1,
    "temp_c": -6.2,
    "matched": true,
    "ctx_dist_m": 4.156429269978187,
    "nearby_amenity_total": 19.0,
    "nearby_highway_total": 157.0,
    "nearby_landuse_total": 14.0,
    "nearby_natural_total": 56.0,
    "nearby_building_total": 73.0,
    "nearby_waterway_total": 0.0
  },
  "slope": 4.3854984776862445,
  "points": 10,
  "distance_m": 12.823218746651952,
  "duration_s": 31416.054,
  "elev_max_m": 105.63411318034838,
  "elev_min_m": 49.39790688786853,
  "elev_gain_m": 111.15296891882275,
  "elev_loss_m": 74.9929992967798,
  "avg_speed_mps": 0.000408174073887572
}

üì¶ segment_id = 5
{
  "ctx": {
    "ctx_id": 1,
    "temp_c": -6.2,
    "matched": true,
    "ctx_dist_m": 2.5815973465947195,
    "nearby_amenity_total": 19.0,
    "nearby_highway_total": 157.0,
    "nearby_landuse_total": 14.0,
    "nearby_natural_total": 56.0,
    "nearby_building_total": 73.0,
    "nearby_waterway_total": 0.0
  },
  "slope": 4.532289263840481,
  "points": 5,
  "distance_m": 13.362926376504221,
  "duration_s": 2079.781,
  "elev_max_m": 130.28887970340477,
  "elev_min_m": 69.72423195368391,
  "elev_gain_m": 22.271423909705277,
  "elev_loss_m": 60.56464774972086,
  "avg_speed_mps": 0.0064251603301040934
}

üì¶ segment_id = 6
{
  "ctx": {
    "ctx_id": 2,
    "temp_c": 8.5,
    "matched": true,
    "ctx_dist_m": 7.970768577699156,
    "nearby_amenity_total": 0.0,
    "nearby_highway_total": 16.0,
    "nearby_landuse_total": 3.0,
    "nearby_natural_total": 0.0,
    "nearby_building_total": 0.0,
    "nearby_waterway_total": 1.0
  },
  "slope": 0.05858891254906029,
  "points": 10,
  "distance_m": 16.58760945914803,
  "duration_s": 10.0,
  "elev_max_m": 234.48859,
  "elev_min_m": 233.51674,
  "elev_gain_m": 0.44319999999999027,
  "elev_loss_m": 1.3765499999999804,
  "avg_speed_mps": 1.658760945914803
}

üì¶ segment_id = 7
{
  "ctx": {
    "ctx_id": 2,
    "temp_c": 8.5,
    "matched": true,
    "ctx_dist_m": 21.24725577015931,
    "nearby_amenity_total": 0.0,
    "nearby_highway_total": 16.0,
    "nearby_landuse_total": 3.0,
    "nearby_natural_total": 0.0,
    "nearby_building_total": 0.0,
    "nearby_waterway_total": 1.0
  },
  "slope": 0.09943825607635966,
  "points": 10,
  "distance_m": 16.3219877745408,
  "duration_s": 10.0,
  "elev_max_m": 235.36443,
  "elev_min_m": 233.7414,
  "elev_gain_m": 1.6486600000000067,
  "elev_loss_m": 0.025630000000006703,
  "avg_speed_mps": 1.63219877745408
}

üì¶ segment_id = 8
{
  "ctx": {
    "ctx_id": 2,
    "temp_c": 8.5,
    "matched": true,
    "ctx_dist_m": 22.362738026557423,
    "nearby_amenity_total": 0.0,
    "nearby_highway_total": 16.0,
    "nearby_landuse_total": 3.0,
    "nearby_natural_total": 0.0,
    "nearby_building_total": 0.0,
    "nearby_waterway_total": 1.0
  },
  "slope": 0.042447543877938046,
  "points": 10,
  "distance_m": 16.763985262521803,
  "duration_s": 10.0,
  "elev_max_m": 236.01158,
  "elev_min_m": 235.29999,
  "elev_gain_m": 0.9124800000000164,
  "elev_loss_m": 0.7557000000000187,
  "avg_speed_mps": 1.6763985262521803
}

In [20]:
# =========================
# –Ø–ß–ï–ô–ö–ê 4 ‚Äî –ú–û–î–£–õ–¨ B (2.3): –ø–æ–ª—É–∞–≤—Ç–æ–º–∞—Ç–∏—á–µ—Å–∫–∞—è —Ä–∞–∑–º–µ—Ç–∫–∞ RISK (flood/fire/none) + –∑–∞–ø–∏—Å—å –≤ –ë–î
# =========================
# –ò–¥–µ—è: "–º–æ–¥–µ–ª—å —Ä–∞–∑–º–µ—Ç–∫–∏" = —Å–∫–æ—Ä–∏–Ω–≥ –Ω–∞ –æ—Å–Ω–æ–≤–µ –≥–µ–æ–¥–∞–Ω–Ω—ã—Ö (nearby + temp) + (–æ–ø—Ü–∏–æ–Ω–∞–ª—å–Ω–æ) cluster_id.
# –≠—Ç–æ –Ω–æ—Ä–º–∞–ª—å–Ω–æ –¥–ª—è 2.3: –∫–ª–∞—Å—Ç–µ—Ä–∏–∑–∞—Ü–∏—è —É–∂–µ —Å–¥–µ–ª–∞–Ω–∞ (—è—á–µ–π–∫–∞ 3), –∞ —Ä–∞–∑–º–µ—Ç–∫–∞ –¥–µ–ª–∞–µ—Ç—Å—è –ø–æ–ª—É–∞–≤—Ç–æ–º–∞—Ç–æ–º.
#
# –ù–∞ —Å–æ—Ä–µ–≤–Ω–æ–≤–∞–Ω–∏—è—Ö —Ç—ã –º–µ–Ω—è–µ—à—å —Ç–æ–ª—å–∫–æ –ü–û–†–û–ì–ò –∏ –í–ï–°–ê, –∏ (–µ—Å–ª–∏ –Ω—É–∂–Ω–æ) –ª–æ–≥–∏–∫—É —Å–µ–∑–æ–Ω–æ–≤.

import json
import numpy as np
import pandas as pd
from sqlalchemy import text

# -------------------------
# 0) –ù–ê–°–¢–†–û–ô–ö–ò (–∏—Ö —Ä–µ–∞–ª—å–Ω–æ –º–æ–∂–Ω–æ –º–µ–Ω—è—Ç—å –Ω–∞ —Å–æ—Ä–µ–≤–Ω–æ–≤–∞–Ω–∏—è—Ö)
# -------------------------

# –ü–æ—Ä–æ–≥ –¥–ª—è –ø—Ä–∏—Å–≤–æ–µ–Ω–∏—è —Ä–∏—Å–∫–∞ (—á–µ–º –±–æ–ª—å—à–µ ‚Äî —Ç–µ–º "—Å—Ç—Ä–æ–∂–µ" —Å—Ç–∞–≤–∏–º flood/fire)
FLOOD_THRESHOLD = 2.0
FIRE_THRESHOLD  = 2.0

# –í–µ—Å–æ–≤—ã–µ –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç—ã ‚Äî "–∫–∞–∫ –º–æ–¥–µ–ª—å" (—Å–∫–æ—Ä–∏–Ω–≥)
W_WATERWAY = 2.0        # —Ä—è–¥–æ–º –≤–æ–¥–∞/—Ä–µ–∫–∏
W_WETLAND  = 1.5        # –±–æ–ª–æ—Ç–æ/–≤–ª–∞–∂–Ω—ã–µ –∑–æ–Ω—ã (–µ—Å–ª–∏ –ø–æ—è–≤–∏—Ç—Å—è)
W_LOW_SLOPE = 0.5       # –ø–ª–æ—Å–∫–æ = –±–æ–ª–µ–µ –≤–µ—Ä–æ—è—Ç–Ω–æ –∑–∞—Ç–æ–ø–ª–µ–Ω–∏–µ

W_NATURAL  = 1.5        # –ª–µ—Å/–ø—Ä–∏—Ä–æ–¥–∞
W_LANDUSE_GRASS = 1.0   # —Ç—Ä–∞–≤—è–Ω–∏—Å—Ç—ã–µ —Ç–µ—Ä—Ä–∏—Ç–æ—Ä–∏–∏ (–µ—Å–ª–∏ –µ—Å—Ç—å)
W_HOT_TEMP = 1.5        # –∂–∞—Ä–∫–æ
W_DRY_HINT = 0.5        # "–∫–æ—Å–≤–µ–Ω–Ω—ã–π" —Å—É—Ö–æ–π –Ω–∞–º—ë–∫ (–µ—Å–ª–∏ –ø–æ—è–≤–∏—Ç—Å—è)

# –¢–µ–º–ø–µ—Ä–∞—Ç—É—Ä–Ω—ã–µ –¥–∏–∞–ø–∞–∑–æ–Ω—ã (–º–æ–∂–Ω–æ –ø–æ–¥–æ–≥–Ω–∞—Ç—å)
SPRING_TEMP_MAX = 12.0  # –≤–µ—Å–Ω–∞ —É—Å–ª–æ–≤–Ω–æ –¥–æ +12 (–¥–ª—è flood)
SUMMER_TEMP_MIN = 22.0  # –ª–µ—Ç–æ —É—Å–ª–æ–≤–Ω–æ –æ—Ç +22 (–¥–ª—è fire)

# –ï—Å–ª–∏ –∫–æ–Ω—Ç–µ–∫—Å—Ç–∞ –Ω–µ—Ç (ctx.matched=false), —á—Ç–æ –¥–µ–ª–∞–µ–º?
# True  -> —Ä–∞–∑—Ä–µ—à–∞–µ–º —Å—Ç–∞–≤–∏—Ç—å —Ä–∏—Å–∫ –ø–æ nearby (–µ—Å–ª–∏ nearby –µ—Å—Ç—å)
# False -> –±–µ–∑ ctx –≤—Å–µ–≥–¥–∞ risk=none
ALLOW_RISK_WITHOUT_TEMP = True


# -------------------------
# 1) –ß–∏—Ç–∞–µ–º —Å–µ–≥–º–µ–Ω—Ç—ã
# -------------------------
seg = read_df("""
SELECT segment_id, track_id, segment_index, cluster_id, features, risk_label, evac_label
FROM segment_labels
ORDER BY segment_id;
""")

print("‚úÖ –ü—Ä–æ—á–∏—Ç–∞–ª–∏ segment_labels:", seg.shape)
display(seg.head(3))

def as_dict(x):
    if x is None:
        return {}
    if isinstance(x, dict):
        return x
    if isinstance(x, str):
        try:
            return json.loads(x)
        except Exception:
            return {}
    return {}

seg["features_dict"] = seg["features"].apply(as_dict)

# -------------------------
# 2) –í—ã—Ç–∞—Å–∫–∏–≤–∞–µ–º –Ω—É–∂–Ω—ã–µ –ø–æ–ª—è –∏–∑ features->ctx
# -------------------------
def get_ctx_val(fd: dict, key: str, default=None):
    ctx = fd.get("ctx", {}) if isinstance(fd, dict) else {}
    return ctx.get(key, default)

def safe_float(v):
    try:
        if v is None:
            return np.nan
        return float(v)
    except Exception:
        return np.nan

def safe_int(v):
    try:
        if v is None:
            return 0
        return int(v)
    except Exception:
        return 0

seg["temp_c"] = seg["features_dict"].apply(lambda d: safe_float(get_ctx_val(d, "temp_c", None)))
seg["ctx_matched"] = seg["features_dict"].apply(lambda d: bool(get_ctx_val(d, "matched", False)))

seg["nearby_waterway_total"] = seg["features_dict"].apply(lambda d: safe_float(get_ctx_val(d, "nearby_waterway_total", 0.0)))
seg["nearby_natural_total"]  = seg["features_dict"].apply(lambda d: safe_float(get_ctx_val(d, "nearby_natural_total", 0.0)))
seg["nearby_landuse_total"]  = seg["features_dict"].apply(lambda d: safe_float(get_ctx_val(d, "nearby_landuse_total", 0.0)))

# —Å–µ–≥–º–µ–Ω—Ç–Ω—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ (–∫–æ—Ç–æ—Ä—ã–µ –º—ã —É–∂–µ —Å—á–∏—Ç–∞–ª–∏)
seg["slope"] = seg["features_dict"].apply(lambda d: safe_float(d.get("slope", np.nan)))
seg["distance_m"] = seg["features_dict"].apply(lambda d: safe_float(d.get("distance_m", np.nan)))

# -------------------------
# 3) –°–∫–æ—Ä–∏–Ω–≥–æ–≤–∞—è "–º–æ–¥–µ–ª—å" —Ä–∏—Å–∫–∞
# -------------------------
def flood_score(row):
    # –æ—Å–Ω–æ–≤–∞: —Ä—è–¥–æ–º –≤–æ–¥–∞ + (–≤–µ—Å–µ–Ω–Ω–∏–π –¥–∏–∞–ø–∞–∑–æ–Ω —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä—ã) + (–ø–ª–æ—Å–∫–∏–π —Ä–µ–ª—å–µ—Ñ)
    score = 0.0
    
    waterway = row["nearby_waterway_total"]
    if waterway > 0:
        score += W_WATERWAY
    
    # –µ—Å–ª–∏ —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä–∞ –∏–∑–≤–µ—Å—Ç–Ω–∞
    t = row["temp_c"]
    if np.isfinite(t):
        # "–≤–µ—Å–Ω–∞": –Ω–µ –∂–∞—Ä–∫–æ
        if t <= SPRING_TEMP_MAX:
            score += 1.0
    else:
        # –µ—Å–ª–∏ —Ç–µ–º–ø—ã –Ω–µ—Ç ‚Äî —Ä–∞–∑—Ä–µ—à–∞–µ–º —Ä–∏—Å–∫ –±–µ–∑ —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä—ã
        if ALLOW_RISK_WITHOUT_TEMP:
            score += 0.3  # —Å–ª–∞–±—ã–π –±–æ–Ω—É—Å
    
    # –ø–ª–æ—Å–∫–æ = —Ä–∏—Å–∫ –∑–∞—Ç–æ–ø–ª–µ–Ω–∏—è —á—É—Ç—å –≤—ã—à–µ
    sl = row["slope"]
    if np.isfinite(sl) and sl < 0.01:
        score += W_LOW_SLOPE
    
    return score

def fire_score(row):
    # –æ—Å–Ω–æ–≤–∞: –º–Ω–æ–≥–æ –ø—Ä–∏—Ä–æ–¥—ã/–ª–∞–Ω–¥—à–∞—Ñ—Ç–∞ + –∂–∞—Ä–∫–æ (–µ—Å–ª–∏ –µ—Å—Ç—å —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä–∞)
    score = 0.0
    
    nat = row["nearby_natural_total"]
    land = row["nearby_landuse_total"]
    
    # –µ—Å–ª–∏ —Ä—è–¥–æ–º "–ø—Ä–∏—Ä–æ–¥—ã" –º–Ω–æ–≥–æ
    if nat >= 10:
        score += W_NATURAL
    
    # landuse_total —É –Ω–∞—Å –∞–≥—Ä–µ–≥–∞—Ç, –Ω–æ –º–æ–∂–Ω–æ –¥–∞—Ç—å –Ω–µ–±–æ–ª—å—à–æ–π –≤–∫–ª–∞–¥
    if land >= 5:
        score += W_LANDUSE_GRASS
    
    t = row["temp_c"]
    if np.isfinite(t):
        if t >= SUMMER_TEMP_MIN:
            score += W_HOT_TEMP
    else:
        if ALLOW_RISK_WITHOUT_TEMP:
            score += 0.2  # —Å–ª–∞–±—ã–π –±–æ–Ω—É—Å (–±–µ–∑ —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä—ã –æ—Å—Ç–æ—Ä–æ–∂–Ω–æ)
    
    return score

seg["flood_score"] = seg.apply(flood_score, axis=1)
seg["fire_score"]  = seg.apply(fire_score, axis=1)

def choose_risk(row):
    fs = row["flood_score"]
    fir = row["fire_score"]
    
    # –µ—Å–ª–∏ –≤–æ–æ–±—â–µ –Ω–µ—Ç ctx –∏ –º—ã –∑–∞–ø—Ä–µ—â–∞–µ–º —Ä–∞–∑–º–µ—Ç–∫—É –±–µ–∑ —Ç–µ–º–ø—ã -> none
    if (not row["ctx_matched"]) and (not ALLOW_RISK_WITHOUT_TEMP):
        return "none", "no_ctx"
    
    # –≤—ã–±–æ—Ä –º–∞–∫—Å–∏–º—É–º–∞ –ø—Ä–∏ –ø—Ä–µ–≤—ã—à–µ–Ω–∏–∏ –ø–æ—Ä–æ–≥–∞
    if fs >= FLOOD_THRESHOLD and fs >= fir:
        return "flood", f"waterway={row['nearby_waterway_total']}, temp={row['temp_c']}"
    if fir >= FIRE_THRESHOLD and fir > fs:
        return "fire", f"natural={row['nearby_natural_total']}, temp={row['temp_c']}"
    
    return "none", "below_threshold"

chosen = seg.apply(choose_risk, axis=1, result_type="expand")
seg["risk_label_new"] = chosen[0]
seg["risk_reason"]    = chosen[1]

print("\nüìä risk_label_new —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ:")
display(seg["risk_label_new"].value_counts(dropna=False).to_frame("cnt"))

# -------------------------
# 4) –í—à–∏–≤–∞–µ–º –æ–±—ä—è—Å–Ω–µ–Ω–∏–µ –≤ features (—á—Ç–æ–±—ã –ø—Ä–µ–ø–æ–¥–∞–≤–∞—Ç–µ–ª—é –±—ã–ª–æ –≤–∏–¥–Ω–æ "–ø–æ—á–µ–º—É")
# -------------------------
def update_features(fd: dict, row) -> dict:
    if not isinstance(fd, dict):
        fd = {}
    fd = dict(fd)  # –∫–æ–ø–∏—è
    
    fd["risk_model"] = {
        "version": "v1-score",
        "flood_score": float(row["flood_score"]),
        "fire_score": float(row["fire_score"]),
        "risk_label": row["risk_label_new"],
        "reason": row["risk_reason"],
        "thresholds": {"flood": FLOOD_THRESHOLD, "fire": FIRE_THRESHOLD},
    }
    return fd

seg["features_updated"] = seg.apply(lambda r: update_features(r["features_dict"], r), axis=1)

def to_json_str(obj) -> str:
    return json.dumps(obj, ensure_ascii=False)

# -------------------------
# 5) –ó–∞–ø–∏—Å—ã–≤–∞–µ–º risk_label + features –æ–±—Ä–∞—Ç–Ω–æ –≤ –ë–î
#    –í–ê–ñ–ù–û: –∏—Å–ø–æ–ª—å–∑—É–µ–º CAST(:features AS jsonb) ‚Äî —á—Ç–æ–±—ã –Ω–µ –±—ã–ª–æ –æ—à–∏–±–∫–∏ ":features::jsonb"
# -------------------------
upd_sql = f"""
UPDATE "{cfg.schema}"."segment_labels"
SET
    risk_label = :risk_label,
    features   = CAST(:features AS jsonb)
WHERE segment_id = :segment_id;
"""

rows_updated = 0
with get_connection() as conn:
    set_search_path(conn)
    for _, r in seg.iterrows():
        conn.execute(text(upd_sql), {
            "segment_id": int(r["segment_id"]),
            "risk_label": r["risk_label_new"],
            "features": to_json_str(r["features_updated"]),
        })
        rows_updated += 1
    conn.commit()

print("\n‚úÖ –ó–∞–ø–∏—Å–∞–ª–∏ risk_label + features –≤ –ë–î. –û–±–Ω–æ–≤–ª–µ–Ω–æ —Å—Ç—Ä–æ–∫:", rows_updated)

# -------------------------
# 6) –ö–æ–Ω—Ç—Ä–æ–ª—å –∏–∑ –ë–î
# -------------------------
risk_dist = read_df("""
SELECT risk_label, COUNT(*) AS cnt
FROM segment_labels
GROUP BY risk_label
ORDER BY cnt DESC;
""")
print("\nüìä risk_label —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ (–∏–∑ –ë–î):")
display(risk_dist)

# –ø–æ–∫–∞–∂–µ–º –ø—Ä–∏–º–µ—Ä—ã flood/fire (–µ—Å–ª–∏ –ø–æ—è–≤–∏–ª–∏—Å—å)
examples = read_df("""
SELECT segment_id, track_id, segment_index, cluster_id, risk_label, evac_label, features
FROM segment_labels
WHERE risk_label IN ('flood','fire')
ORDER BY segment_id
LIMIT 10;
""")
print("\nüîé –ü—Ä–∏–º–µ—Ä—ã —Å–µ–≥–º–µ–Ω—Ç–æ–≤ —Å —Ä–∏—Å–∫–æ–º:")
display(examples)

‚úÖ –ü—Ä–æ—á–∏—Ç–∞–ª–∏ segment_labels: (8663, 7)

,segment_id,track_id,segment_index,cluster_id,features,risk_label,evac_label
0,1,2,0,4,"{'ctx': {'ctx_id': 1, 'temp_c': -6.2, 'matched...",none,hard
1,2,2,1,4,"{'ctx': {'ctx_id': 1, 'temp_c': -6.2, 'matched...",none,easy
2,3,2,2,2,"{'ctx': {'ctx_id': 1, 'temp_c': -6.2, 'matched...",none,medium

üìä risk_label_new —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ:

                 cnt
risk_label_new
none            8427
flood            225
fire              11

‚úÖ –ó–∞–ø–∏—Å–∞–ª–∏ risk_label + features –≤ –ë–î. –û–±–Ω–æ–≤–ª–µ–Ω–æ —Å—Ç—Ä–æ–∫: 8663

üìä risk_label —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ (–∏–∑ –ë–î):

  risk_label   cnt
0       none  8427
1      flood   225
2       fire    11

üîé –ü—Ä–∏–º–µ—Ä—ã —Å–µ–≥–º–µ–Ω—Ç–æ–≤ —Å —Ä–∏—Å–∫–æ–º:

,segment_id,track_id,segment_index,cluster_id,risk_label,evac_label,features
0,1,2,0,4,fire,hard,"{'ctx': {'ctx_id': 1, 'temp_c': -6.2, 'matched..."
1,2,2,1,4,fire,easy,"{'ctx': {'ctx_id': 1, 'temp_c': -6.2, 'matched..."
2,3,2,2,2,fire,medium,"{'ctx': {'ctx_id': 1, 'temp_c': -6.2, 'matched..."
3,4,2,3,4,fire,hard,"{'ctx': {'ctx_id': 1, 'temp_c': -6.2, 'matched..."
4,5,2,4,3,fire,hard,"{'ctx': {'ctx_id': 1, 'temp_c': -6.2, 'matched..."
5,6,3,0,2,flood,medium,"{'ctx': {'ctx_id': 2, 'temp_c': 8.5, 'matched'..."
6,7,3,1,2,flood,medium,"{'ctx': {'ctx_id': 2, 'temp_c': 8.5, 'matched'..."
7,8,3,2,2,flood,easy,"{'ctx': {'ctx_id': 2, 'temp_c': 8.5, 'matched'..."
8,9,3,3,2,flood,easy,"{'ctx': {'ctx_id': 2, 'temp_c': 8.5, 'matched'..."
9,10,3,4,2,flood,medium,"{'ctx': {'ctx_id': 2, 'temp_c': 8.5, 'matched'..."

In [21]:
# =========================
# –Ø–ß–ï–ô–ö–ê 5 ‚Äî –ú–û–î–£–õ–¨ B (2.4): –æ—Ü–µ–Ω–∫–∞ –∫–∞—á–µ—Å—Ç–≤–∞ —Ä–∞–∑–º–µ—Ç–∫–∏ + –∫–∞—á–µ—Å—Ç–≤–æ –∫–ª–∞—Å—Ç–µ—Ä–æ–≤
# =========================
import numpy as np
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.metrics import silhouette_score

# 1) –°—á–∏—Ç–∞–µ–º –∏–∑ –ë–î –∏—Ç–æ–≥–æ–≤—É—é —Ç–∞–±–ª–∏—Ü—É —Å–µ–≥–º–µ–Ω—Ç–æ–≤
df = read_df("""
SELECT segment_id, track_id, segment_index, cluster_id, risk_label, evac_label, features
FROM segment_labels
ORDER BY segment_id;
""")

# 2) –†–∞—Å–ø–∞–∫—É–µ–º features (jsonb) -> dict
import json
def to_dict(x):
    if x is None:
        return {}
    if isinstance(x, dict):
        return x
    if isinstance(x, str):
        try:
            return json.loads(x)
        except Exception:
            return {}
    return {}

df["f"] = df["features"].apply(to_dict)

# 3) –î–æ—Å—Ç–∞—ë–º —Ç–µ –∂–µ —Ñ–∏—á–∏, —á—Ç–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–ª–∏ –¥–ª—è –∫–ª–∞—Å—Ç–µ—Ä–∏–∑–∞—Ü–∏–∏
SEG_FEATURES = ["distance_m","duration_s","avg_speed_mps","elev_gain_m","elev_loss_m","elev_min_m","elev_max_m","slope","points"]

for k in SEG_FEATURES:
    df[k] = df["f"].apply(lambda d: d.get(k, np.nan))

X = df[SEG_FEATURES].copy()

# 4) –ü–æ–¥–≥–æ—Ç–æ–≤–∫–∞ (–∏–º–ø—É—Ç + —Å–∫–µ–π–ª)
prep = Pipeline([
    ("imputer", SimpleImputer(strategy="median")),
    ("scaler", StandardScaler()),
])
X_prep = prep.fit_transform(X)

# 5) Silhouette –ø–æ —É–∂–µ –ø—Ä–∏—Å–≤–æ–µ–Ω–Ω—ã–º –∫–ª–∞—Å—Ç–µ—Ä–∞–º (–∏–∑ –ë–î)
labels = df["cluster_id"].astype(int).values
sil = silhouette_score(X_prep, labels) if len(np.unique(labels)) > 1 else np.nan
print("‚úÖ Silhouette (–∫–∞—á–µ—Å—Ç–≤–æ –∫–ª–∞—Å—Ç–µ—Ä–æ–≤):", round(float(sil), 4))

# 6) –†–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –∫–ª–∞—Å—Ç–µ—Ä–æ–≤
cl_dist = df["cluster_id"].value_counts().sort_index().to_frame("cnt")
cl_dist["share_%"] = (100 * cl_dist["cnt"] / len(df)).round(2)
print("\nüìä cluster_id —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ:")
display(cl_dist)

# 7) –†–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –º–µ—Ç–æ–∫ —Ä–∞–∑–º–µ—Ç–∫–∏
risk_dist = df["risk_label"].value_counts().to_frame("cnt")
risk_dist["share_%"] = (100 * risk_dist["cnt"] / len(df)).round(2)
print("\nüìä risk_label —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ:")
display(risk_dist)

evac_dist = df["evac_label"].value_counts().to_frame("cnt")
evac_dist["share_%"] = (100 * evac_dist["cnt"] / len(df)).round(2)
print("\nüìä evac_label —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ:")
display(evac_dist)

# 8) –ü—Ä–æ—Ñ–∏–ª–∏ –∫–ª–∞—Å—Ç–µ—Ä–æ–≤ (—Å—Ä–µ–¥–Ω–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è –ø—Ä–∏–∑–Ω–∞–∫–æ–≤)
profile = df.groupby("cluster_id")[SEG_FEATURES].mean(numeric_only=True)
profile["count"] = df.groupby("cluster_id")["segment_id"].count()
print("\nüß† –ü—Ä–æ—Ñ–∏–ª–∏ –∫–ª–∞—Å—Ç–µ—Ä–æ–≤ (—Å—Ä–µ–¥–Ω–∏–µ + count):")
display(profile)

# 9) –ë—ã—Å—Ç—Ä–∞—è 2D-–ø—Ä–æ–µ–∫—Ü–∏—è PCA –¥–ª—è ‚Äú–≤–∏–∑—É–∞–ª—å–Ω–æ–≥–æ –∞–Ω–∞–ª–∏–∑–∞ –∫–ª–∞—Å—Ç–µ—Ä–æ–≤‚Äù
pca = PCA(n_components=2, random_state=42)
XY = pca.fit_transform(X_prep)
df_vis = pd.DataFrame({"pc1": XY[:,0], "pc2": XY[:,1], "cluster_id": labels})
print("\n‚ÑπÔ∏è PCA –≥–æ—Ç–æ–≤–æ: df_vis (pc1/pc2/cluster_id).")
display(df_vis.head(5))

print("\nüí° –ì–æ—Ç–æ–≤–Ω–æ—Å—Ç—å –∫ –º–æ–¥—É–ª—é –í:")
print("- –ú–æ–¥—É–ª—å –í –±—É–¥–µ—Ç —É—á–∏—Ç—å –º–æ–¥–µ–ª—å –ø—Ä–µ–¥—Å–∫–∞–∑—ã–≤–∞—Ç—å risk_label –∏ evac_label –ø–æ –ø—Ä–∏–∑–Ω–∞–∫–∞–º —Å–µ–≥–º–µ–Ω—Ç–∞.")
print("- –ï—Å–ª–∏ –∫–ª–∞—Å—Å—ã —Ä–∏—Å–∫–∞ —Å–ª–∏—à–∫–æ–º —Ä–µ–¥–∫–∏–µ (–Ω–∞–ø—Ä–∏–º–µ—Ä fire=0), –º–æ–¥–µ–ª—å –±—É–¥–µ—Ç —É—á–∏—Ç—å—Å—è –ø–ª–æ—Ö–æ ‚Üí –Ω–∞–¥–æ —Å–º—è–≥—á–∏—Ç—å –ø—Ä–∞–≤–∏–ª–∞ —Ä–∞–∑–º–µ—Ç–∫–∏.")

‚úÖ Silhouette (–∫–∞—á–µ—Å—Ç–≤–æ –∫–ª–∞—Å—Ç–µ—Ä–æ–≤): 0.6072

üìä cluster_id —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ:

             cnt  share_%
cluster_id
0           7300    84.27
1           1011    11.67
2            323     3.73
3             26     0.30
4              3     0.03

üìä risk_label —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ:

             cnt  share_%
risk_label
none        8427    97.28
flood        225     2.60
fire          11     0.13

üìä evac_label —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ:

             cnt  share_%
evac_label
easy        5133    59.25
medium      3267    37.71
hard         263     3.04

üß† –ü—Ä–æ—Ñ–∏–ª–∏ –∫–ª–∞—Å—Ç–µ—Ä–æ–≤ (—Å—Ä–µ–¥–Ω–∏–µ + count):

,distance_m,duration_s,avg_speed_mps,elev_gain_m,elev_loss_m,elev_min_m,elev_max_m,slope,points,count
cluster_id,,,,,,,,,,
0,773.483880,214.443561,4.027477,3.168499,3.237168,181.478010,185.566900,0.016823,9.998630,7300
1,574.466489,288.205128,3.848655,10.160438,10.528826,784.234889,798.832038,0.039608,9.997033,1011
2,16.883285,22.954789,0.861258,1.292205,1.328886,144.362650,146.297372,0.254031,9.990712,323
3,324.384208,437.756200,2.662884,3.054142,7.147264,218.482353,224.937157,0.478432,3.961538,26
4,470.996725,25175.189000,0.016734,109.231017,93.293514,37.430863,101.776093,3.356677,10.000000,3

‚ÑπÔ∏è PCA –≥–æ—Ç–æ–≤–æ: df_vis (pc1/pc2/cluster_id).

         pc1        pc2  cluster_id
0  20.767655  46.323377           4
1  17.336335  35.888118           4
2   6.387936   9.586975           2
3  23.322372  55.884487           4
4   7.247442  24.661216           3

üí° –ì–æ—Ç–æ–≤–Ω–æ—Å—Ç—å –∫ –º–æ–¥—É–ª—é –í:
- –ú–æ–¥—É–ª—å –í –±—É–¥–µ—Ç —É—á–∏—Ç—å –º–æ–¥–µ–ª—å –ø—Ä–µ–¥—Å–∫–∞–∑—ã–≤–∞—Ç—å risk_label –∏ evac_label –ø–æ –ø—Ä–∏–∑–Ω–∞–∫–∞–º —Å–µ–≥–º–µ–Ω—Ç–∞.
- –ï—Å–ª–∏ –∫–ª–∞—Å—Å—ã —Ä–∏—Å–∫–∞ —Å–ª–∏—à–∫–æ–º —Ä–µ–¥–∫–∏–µ (–Ω–∞–ø—Ä–∏–º–µ—Ä fire=0), –º–æ–¥–µ–ª—å –±—É–¥–µ—Ç —É—á–∏—Ç—å—Å—è –ø–ª–æ—Ö–æ ‚Üí –Ω–∞–¥–æ —Å–º—è–≥—á–∏—Ç—å –ø—Ä–∞–≤–∏–ª–∞ —Ä–∞–∑–º–µ—Ç–∫–∏.